{:cost 4
 :deck-limit 3
 :faction :weyland-consortium
 :id "0dayAnamorph"
 :influence-cost 1
 :side :corp
 :strength X
 :subtype [:code-gate] 
 :text "X is the number of <strong>hosted condition counter</strong> on all cards.\n[subroutine]Gain X[credit].\n[subroutine]End the run."
 :title "0-day Anamorph"
 :type :ice
 :uniqueness false}
