{:cost 2
 :deck-limit 3
 :faction :weyland-consortium
 :id "14KHitter"
 :influence-cost 5
 :side :corp
 :subtype [:announcement :seedy] 
 :text "Rez only during your action phase.\nThe Runner takes 1 meat damage at the end of their turn."
 :title "14K Hitter"
 :trash-cost 3
 :type :asset
 :uniqueness true}
