{:cost 0
 :deck-limit 3
 :faction :criminal
 :id "AbandonedDrive"
 :influence-cost 1
 :side :runner
 :subtype [:virus] 
 :text "The first time each turn you make a successful run on a remote server, place 1 virus counter on this hardware.\n<strong>Hosted virus counter</strong>: The Corp reveals 1 card at random from HQ."
 :title "Abandoned Drive"
 :type :hardware
 :uniqueness false}
