{:base-link 1
 :deck-limit 1
 :faction :anarch
 :id "Abigail"
 :influence-limit 15
 :minimum-deck-size 45
 :side :runner
 :subtype [:natural] 
 :text "[click]: Draw 3 cards, add 1 to your grip and trash the others. Use this ability only once per turn.\n[click]: Flip this identity."
 :title "Abigail : Life Teacher"
 :type :identity
 :uniqueness false}
