{:cost 6
 :deck-limit 3
 :faction :NBN
 :id "AccountCheck"
 :influence-cost 2
 :side :corp
 :strength 3
 :subtype [:sentry] 
 :text "[subroutine] The Runner loses all their credits."
 :title "Account Check"
 :type :ice
 :uniqueness false}
