{:base-link 0
 :deck-limit 1
 :faction :adam
 :id "AdamConsistentHacker"
 :influence-limit 25
 :minimum-deck-size 45
 :side :runner
 :subtype [:bioroid] 
 :text "You start the game with 3 different <strong>directive</strong> cards installed (these cards are not considered part of your deck).\n[click]: Replace all spent recurring credits on an installed Runner card."
 :title "Adam : Consistent Hacker"
 :type :identity
 :uniqueness false}
