{:base-link 0
 :deck-limit 1
 :faction :adam
 :id "AdamOstracizingHacker"
 :influence-limit 30
 :minimum-deck-size 45
 :side :runner
 :subtype [:bioroid] 
 :text "You start the game with 3 different <strong>directive</strong> cards installed (these cards are not considered part of your deck).\nYou can only include cards from one non-neutral faction in this deck."
 :title "Adam : Ostracizing Hacker"
 :type :identity
 :uniqueness false}
