{:cost 1
 :deck-limit 3
 :faction :anarch
 :id "AdrenalineBug"
 :influence-cost 3
 :side :runner
 :subtype [:chip] 
 :text "[interrupt] [trash]: When you would take damage, trash your grip and draw 5 cards. Take double the damage."
 :title "Adrenaline Bug
 :type :hardware
 :uniqueness false}
