{:base-link 0
 :deck-limit 1
 :faction :shaper
 :id "AelaBonson"
 :influence-limit 15
 :minimum-deck-size 50
 :side :runner
 :subtype [:natural] 
 :text "You may start the game with up to 3 different <strong>consoles</strong> from your deck hosted on this identity.\n[click][click]: Install a hosted <strong>console</strong>.\n[click][click][click]: Swap an installed <strong>console</strong> with a hosted <strong>console</strong>."
 :title "Aela Bonson : Meka"
 :type :identity
 :uniqueness false}
