{:base-link 0
 :deck-limit 1
 :faction :shaper
 :id "Aesop"
 :influence-limit 15
 :minimum-deck-size 45
 :side :runner
 :subtype [:g-mod] 
 :text "[click]: Host a card from your grip facedown on Aesop and place 2 power counters on it.\nWhen your turn begins, remove 1 power counter from a hosted card.\nWhen the last power counter is removed from a hosted card, install, play or trash it (without spending a click), lowering it's install or play cost by 2[credit]."
 :title "Aesop : Entrepreneur"
 :type :identity
 :uniqueness false}
