{:cost 5
 :deck-limit 3
 :faction :anarch
 :id "AllEater"
 :influence-cost 3
 :memory-cost 1
 :side :runner
 :strength 1
 :subtype [:icebreaker :fracter] 
 :text "<strong>Remove 1 card in your heap from the game:</strong>\nBreak 1 <strong>barrier</strong> subroutine.\n<strong>Remove 2 cards in your heap from the game</strong>:\n+1 strength."
 :title "All-eater"
 :type :program
 :uniqueness false}
