{:advancement-requirement 5
 :agenda-points 3
 :deck-limit 3
 :faction :nbn
 :id "AlwaysOnline"
 :side :corp
 :text "Whenever the Runner is tagged, they are considered to have 1 additional tag.\nAs an additional cost to steal this agenda, the Runner must take 2 tags."
 :title "Always Online"
 :type :agenda
 :uniqueness false}
