{:base-link 0
 :deck-limit 1
 :faction :anarch
 :id "AMaverick"
 :influence-limit 15
 :minimum-deck-size 45
 :side :runner
 :subtype [:g-mod] 
 :text "When your turn begins, install the top card of your stack face-down as a <strong>virus</strong> card on a piece of ice if able.\nIce with hosted <strong>viruses</strong> have -1 strength."
 :title "A. Maverick : Net Caster"
 :type :identity
 :uniqueness false}
