{:cost 0
 :deck-limit 3
 :faction :apex
 :id "Anthropophagy"
 :influence-cost 2
 :side :runner 
 :text "Trash an installed Runner card to draw 5 cards."
 :title "Anthropophagy"
 :type :event
 :uniqueness false}
