{:cost 3
 :deck-limit 3
 :faction :weyland-consortium
 :id "AntiviralNanomites"
 :influence-cost 2
 :side :corp
 :strength 2
 :subtype [:code-gate :antivirus] 
 :text "Antiviral Nanosmites has +1 strength for every 2 virus counters on all installed cards.\n[subroutine]The Corp gains 1[credit] per virus counter.\n[subroutine]Purge virus counters.\n[subroutine]End the run."
 :title "Antiviral Nanomites"
 :type :ice
 :uniqueness false}
