{:base-link 0
 :deck-limit 1
 :faction :apex
 :id "ApexFragileMind"
 :influence-limit 25
 :minimum-deck-size 45
 :side :runner
 :subtype [:digital] 
 :text "You cannot install non-<strong>virtual</strong> resources.\n[click]: Turn one of your facedown installed cards faceup.\nThe turned card gains the text: “[click],[click]: Trash this card. Only the Corp can use this ability.“"
 :title "Apex : Fragile Mind"
 :type :identity
 :uniqueness false}
