{:base-link 0
 :deck-limit 1
 :faction :apex
 :id "ApexPublicPredator"
 :influence-limit 25
 :minimum-deck-size 45
 :side :runner
 :subtype [:digital] 
 :text "You cannot install non-<strong>virtual</strong> resources.\nPlay with the top card of the stack faceup.\nWhen your turn begins, you may install the top card of the stack facedown."
 :title "Apex : Public Predator"
 :type :identity
 :uniqueness false}
