{:cost 0
 :deck-limit 3
 :faction :haas-bioroid
 :id "ArchitectsVision"
 :influence-cost 1
 :side :corp
 :subtype [:sysop] 
 :text "When your turn begins you may rez a <strong>bioroid</strong> or <strong>NEXT</strong> ice protecting this server, lowering it's rez cost by 3[credit].\n[click]: Move this upgrade to another server."
 :title "Architect's Vision
 :trash-cost 3
 :type :upgrade
 :uniqueness false}
