{:base-link 0
 :deck-limit 1
 :faction :anarch
 :id "Arjun"
 :influence-limit 15
 :minimum-deck-size 45
 :side :runner
 :subtype [:g-mod] 
 :text "Whenever a successful run on Archives ends, remove up to 2 cards in Archives from the game.\nThe first time each turn a successful run on HQ ends, the Corp trashes a card from HQ if archives is empty.\nThe first time each turn a successful run on R&D ends, the Corp trashes the top card of R&D if archives is empty."
 :title "Arjun : The Purifier"
 :type :identity
 :uniqueness false}
