{:cost 5
 :deck-limit 3
 :faction :NBN
 :id "Awakening"
 :influence-cost 1
 :side :corp
 :strength 4
 :subtype [:code-gate :ritzy] 
 :text "[subroutine] The Corp may reveal and install, or rez an :nbn: ice, ignoring all costs.\n[subroutine] The Corp may reveal and install, or rez an an :nbn: asset, ignoring all costs.\n[subroutine] The Corp may reveal and install, or rez an :nbn: upgrade, ignoring all costs."
 :title "Awakening"
 :type :ice
 :uniqueness false}
