{:cost 0
 :deck-limit 3
 :faction :criminal
 :id "Backdoor"
 :influence-cost 1
 :side :runner
 :subtype [:seedy] 
 :text "Play only if you have more installed <strong>seedy</strong> cards than the Corp.\nMake a run on Archives. If successful, instead treat it as a successful run on HQ and access 1 additional card."
 :title "Backdoor"
 :type :event
 :uniqueness false}
