{:cost 4
 :deck-limit 3
 :faction :jinteki
 :id "Baizo"
 :influence-cost 3
 :side :corp
 :strength 3
 :subtype [:sentry :ap] 
 :text "Each AP ice gains “[subroutine]Do 2 net damage“ after all its other subroutines.\n[subroutine] Do 1 net damage."
 :title "Baizō"
 :type :ice
 :uniqueness true}
