{:deck-limit 1
 :faction :jinteki
 :id "BedjidkiNetworksBack"
 :influence-limit 15
 :minimum-deck-size 45
 :side :corp
 :subtype [:corporation] 
 :text "Ice cost 1[credit] less to rez.\n[click]: Flip this identity."
 :title "Bedjidki Networks : Fast & Heavy"
 :type :identity
 :uniqueness false}
