{:cost 0
 :deck-limit 3
 :faction :sunny-lebeau
 :id "BeingConnected"
 :influence-cost 1
 :side :runner 
 :text "Gain X[credit].\nX is equal to your [link]."
 :title "Being Connected"
 :type :event
 :uniqueness false}
