{:cost 0
 :deck-limit 3
 :faction :shaper
 :id "BettingMan"
 :influence-cost 1
 :side :runner
 :subtype [:connection] 
 :text "The first time each turn you and the Corp secretly spend credits and you spent the same amount, gain 2[credit]."
 :title "Betting Man
 :type :resource
 :uniqueness false}
