{:cost 2
 :deck-limit 3
 :faction :anarch
 :id "BiennioRosso"
 :influence-cost 2
 :side :runner 
 :text "Trash 1 card from your grip.\nDraw 5 cards.\nTrash 1 card from your grip."
 :title "Biennio Rosso
 :type :event
 :uniqueness false}
