{:deck-limit 1
 :faction :jinteki
 :id "Bioteki"
 :influence-limit 25
 :minimum-deck-size 45
 :side :corp
 :subtype [:alliance] 
 :text "Can only spend influence on :hb: cards.\n<strong>Bioroid</strong> cards require 1 fewer influence."
 :title "Bioteki : Cybernetic Clones"
 :type :identity
 :uniqueness false}
