{:cost 0
 :deck-limit 3
 :faction :haas-bioroid
 :id "BrainClinic"
 :influence-cost 1
 :side :corp
 :subtype [:advertisement :seedy] 
 :text "Whenever the Runner suffers brain damage, gain 4[credit]."
 :title "Brain Clinic"
 :trash-cost 4
 :type :asset
 :uniqueness false}
