{:base-link 0
 :deck-limit 1
 :faction :neutral-runner
 :id "BraydonSilver"
 :influence-limit 10
 :minimum-deck-size 45
 :side :runner
 :subtype [:g-mod] 
 :text "Cards that do not match the faction of your identity cost 1[credit] less to play or install.\nThe first copy of each program in this deck does not count against your influence limit."
 :title "Braydon Silver : Bargain Hunter"
 :type :identity
 :uniqueness false}
