{:cost 3
 :deck-limit 3
 :faction :neutral-runner
 :id "BRGBRN"
 :influence-cost 0
 :memory-cost 1
 :side :runner
 :strength 1
 :subtype [:icebreaker :ai] 
 :text "<strong>Trash an installed connection resource</strong>:\n+4 strength. Break up to 4 subroutines, if able."
 :title "BRG.BRN"
 :type :program
 :uniqueness false}
