{:base-link 1
 :deck-limit 1
 :faction :anarch
 :id "Britney"
 :influence-limit 15
 :minimum-deck-size 45
 :side :runner
 :subtype [:natural] 
 :text "[click]: Remove up to 9 cards from your heap from the game. Gain 1[credit] for every 3 cards removed. Use this ability only once per turn.\n[click]: Flip this identity."
 :title "Britney : Teaching Life"
 :type :identity
 :uniqueness false}
