{:cost 0
 :deck-limit 3
 :faction :anarch
 :id "Bullheaded"
 :influence-cost 1
 :side :runner
 :subtype [:priority] 
 :text "Make a run on a server.\nWhen the run ends, you may suffer 1 brain damage to make another run on the same server. Repeat this effect."
 :title "Bullheaded
 :type :event
 :uniqueness false}
