{:deck-limit 1
 :faction :neutral-corp
 :id "BusinessIncubator"
 :influence-limit 25
 :minimum-deck-size 45
 :side :corp
 :subtype [:corporation] 
 :text "Before taking your first turn, you may swap this identity with another Corp identity. The deck's influence must still be legal.\nYou can only use neutral agendas."
 :title "Business Incubator : Planting Seeds"
 :type :identity
 :uniqueness false}
