{:cost 2
 :deck-limit 3
 :faction :NBN
 :id "Captcha"
 :influence-cost 3
 :side :corp
 :strength 2
 :subtype [:code-gate] 
 :text "The Runner cannot use <strong>AI</strong> programs to break subroutines on this ice.\n[subroutine] The Runner must pay 2[credit] or add 1 installed Runner card to their grip.\n[subroutine] The Runner must pay 2[credit] or add 1 installed Runner card to their grip.\n"
 :title "Captcha"
 :type :ice
 :uniqueness false}
