{:cost 0
 :deck-limit 3
 :faction :sunny
 :id "CashingOut"
 :influence-cost 1
 :side :runner
 :subtype [:job] 
 :text "Gain X[credit].\nX is equal to the amount of bad publicity the Corp has +2."
 :title "Cashing Out"
 :type :event
 :uniqueness false}
