{:cost 4
 :deck-limit 3
 :faction :criminal
 :id "CCPC"
 :influence-cost 3
 :side :runner
 :subtype [:console] 
 :text "+:1mu:\nYour icebreakers has +1 strength if the Corp has more scored agenda points than you.\nLimit 1 <strong>console</strong> per player."
 :title "CCPC"
 :type :hardware
 :uniqueness true}
