{:cost 5
 :deck-limit 3
 :faction :haas-bioroid
 :id "Cerebrum"
 :influence-cost 3
 :side :corp
 :strength 4
 :subtype [:sentry :illicit :ap] 
 :text "When you rez this ice, do 1 brain damage and take 1 bad publicity unless the Runner pays 4[credit].\n[subroutine]<strong>Trace<sup><strong>³</strong></sup></strong> – If successful, do 1 brain damage.\n[subroutine]<strong>Trace<sup><strong>³</strong></sup></strong> – If successful, do 1 brain damage."
 :title "Cerebrum"
 :type :ice
 :uniqueness false}
