{:advancement-requirement 4
 :agenda-points 2
 :deck-limit 3
 :faction :nbn
 :id "CityDroneContract"
 :side :corp
 :subtype [:security]
 :text "At the end of the Runner's turn, do 1 meat damage for each tag they have."
 :title "City Drone Contract"
 :type :agenda
 :uniqueness false}
