{:deck-limit 1
 :faction :weyland-consortium
 :id "Clandestinations"
 :influence-limit 15
 :minimum-deck-size 45
 :side :corp
 :subtype [:division] 
 :text "Once per turn you may lower the rez cost of an ice being rezzed by 1[credit] per bad publicity you have."
 :title "Clandestinations : To The Moon And Back"
 :type :identity
 :uniqueness false}
