{:cost 3
 :deck-limit 3
 :faction :NBN
 :id "Clickbait"
 :influence-cost 4
 :side :corp 
 :text "The Runner cannot trash Corp cards other than this when accessing cards."
 :title "Clickbait"
 :trash-cost 0
 :type :asset
 :uniqueness true}
