{:cost 3
 :deck-limit 3
 :faction :nbn
 :id "Clickbait"
 :influence-cost 4
 :side :corp
 :subtype [:advertisement] 
 :text "The Runner cannot trash Corp cards other than this when accessing cards."
 :title "Clickbait"
 :trash-cost 0
 :type :asset
 :uniqueness true}
