{:cost 1
 :deck-limit 3
 :faction :jinteki
 :id "CloningProtocol"
 :influence-cost 2
 :side :corp
 :subtype [:clone :onrez] 
 :text "When Cloning Protocol is rezzed, host a rezzed <strong>character</strong>, <strong>sysop</strong> or <strong>executive</strong> on it."
 :title "Cloning Protocol"
 :trash-cost 3
 :type :asset
 :uniqueness false}
