{:base-link 0
 :deck-limit 1
 :faction :shaper
 :id "ClydeDAcre"
 :influence-limit 15
 :minimum-deck-size 45
 :side :runner
 :subtype [:cyborg] 
 :text "[click]: Remove an installed Runner card from the game to install a card of the same type with an install cost up to one higher than the removed card, ignoring any install cost."
 :title "Clyde d'Acre : Young Lord"
 :type :identity
 :uniqueness false}
