{:cost 2
 :deck-limit 3
 :faction :nbn
 :id "ConsumerFirewall"
 :influence-cost 1
 :side :corp
 :strength 2
 :subtype [:code-gate :public :advertisement] 
 :text "When you install this ice, you may immediately rez it paying it's rez cost.\n[subroutine]End the run."
 :title "Consumer Firewall"
 :type :ice
 :uniqueness false}
