{:cost 4
 :deck-limit 3
 :faction :haas-bioroid
 :id "CPUTunnel"
 :influence-cost 3
 :side :corp
 :strength 3
 :subtype [:barrier :optional] 
 :text "A maximum of 2 subroutines on this ice may be broken (or fired) during an encounter.\n[subroutine]The Corp gains 1[click] at the start of their next turn.\n[subroutine]The Runner loses 1[click] at the start of their next turn.\n[subroutine]End the run."
 :title "CPU Tunnel"
 :type :ice
 :uniqueness false}
