{:cost 4
 :deck-limit 3
 :faction :weyland-consortium
 :id "CRC"
 :influence-cost 3
 :side :corp
 :strength 3
 :subtype [:code-gate :optional :destroyer] 
 :text "A maximum of 2 subroutines on this ice may be broken (or fired) during an encounter.\n[subroutine]Give the runner 1 tag.\n[subroutine]Trash the top card of the stack. Remove all cards of one type in the heap from the game.\n[subroutine]The Runner trashes 1 installed Runner card."
 :title "CRC"
 :type :ice
 :uniqueness false}
