{:cost 3
 :deck-limit 3
 :faction :neutral-corp
 :id "CryptoLocker"
 :influence-cost 0
 :side :corp
 :strength 2
 :subtype [:mythic] 
 :text "[subroutine]The Corp gains 3[credit]."
 :title "Crypto Locker"
 :type :ice
 :uniqueness false}
