{:advancement-requirement 5
 :agenda-points 2
 :deck-limit 3
 :faction :weyland-consortium
 :id "CSRDrive"
 :side :corp
 :text "Gain 2[credit] when your turn begins.\nThe Corp gains 4[credit] when CSR Drive is stolen.\nThe Runner gains 4[credit] when CSR Drive is scored."
 :title "CSR Drive"
 :type :agenda
 :uniqueness false}
