{:cost 1
 :deck-limit 3
 :faction :neutral-corp
 :id "CurfewSquad"
 :influence-cost 0
 :side :corp 
 :text "The Runner cannot play <strong>run</strong> or <strong>sabotage</strong> events."
 :title "Curfew Squad
 :trash-cost 3
 :type :asset
 :uniqueness false}
