{:cost 4
 :deck-limit 3
 :faction :haas-bioroid
 :id "D3LUXe"
 :influence-cost 2
 :side :corp
 :strength 4
 :subtype [:sentry :ritzy] 
 :text "[subroutine]If the Runner has at least 8[credit], the Runner loses half the credits in his or her credit pool.\n[subroutine]If the Corp has more credits than the Runner, the Corp gains 4[credit] and end the run."
 :title "D3.L.U.X.e"
 :type :ice
 :uniqueness false}
