{:cost 0
 :deck-limit 3
 :faction :anarch
 :id "Dare"
 :influence-cost 4
 :side :runner
 :subtype [:run] 
 :text "Make a run. If successful, before accessing cards, gain 2[credit] or draw 1 card per advancement token on one card in the server."
 :title "Dare"
 :type :event
 :uniqueness false}
