{:base-link 0
 :deck-limit 1
 :faction :criminal
 :id "DarellVoight"
 :influence-limit 12
 :minimum-deck-size 45
 :side :runner
 :subtype [:natural] 
 :text "When your turn begins, you may trash an installed <strong>connection</strong> resource to gain 3[credit]."
 :title "Darell Voight : Snitch"
 :type :identity
 :uniqueness false}
