{:cost 0
 :deck-limit 3
 :faction :haas-bioroid
 :id "DarkSideGrid"
 :influence-cost 2
 :side :corp
 :subtype [:seedy :region] 
 :text "Whenever the Runner loses or spends [click] during runs on this server, give the Runner 2 tags."
 :title "Dark Side Grid
 :trash-cost 2
 :type :upgrade
 :uniqueness false}
