{:advancement-requirement 4
 :agenda-points 2
 :deck-limit 3
 :faction :weyland-consortium
 :id "DarkSideFacility"
 :side :corp
 :text "When you score this agenda, you may derez up to 2 ice. For each ice derezzed this way, rez another ice, ignoring all rez costs.\nWhen this agenda is stolen, you may derez 1 ice. If you did, rez another ice, ignoring all rez costs."
 :title "Dark Side Facility"
 :type :agenda
 :uniqueness false}
