{:cost 2
 :deck-limit 3
 :faction :weyland-consortium
 :id "DCBInvestment"
 :influence-cost 2
 :side :corp
 :subtype [:ritzy] 
 :text "When your turn begins, if you have at least 5[credit] more than the Runner, you may install a card from HQ."
 :title "DCB Investment"
 :trash-cost 3
 :type :asset
 :uniqueness false}
