{:cost 0
 :deck-limit 3
 :faction :sunny
 :id "Debacle"
 :influence-cost 1
 :side :runner 
 :text "Install a card from your grip. Lower the install cost by 2[credit] for each bad publicity the Corp has."
 :title "Debacle"
 :type :event
 :uniqueness false}
