{:cost 1
 :deck-limit 3
 :faction :weyland-consortium
 :id "DebtCollectors"
 :influence-cost 3
 :side :corp
 :subtype [:transaction] 
 :text "Play only if the Runner made at least 2 runs during their last turn.\nGain 6[credit]."
 :title "Debt Collectors
 :type :operation
 :uniqueness false}
