{:cost 2
 :deck-limit 3
 :faction :haas-bioroid
 :id "DelayedNeuralReaction"
 :influence-cost 1
 :side :corp
 :subtype [:reprisal :black-ops :terminal] 
 :text "After you resolve this operation, your action phase ends.\nInclude only in a :hb: deck.\nPlay this card only if the runner stole an agenda during their last turn.\nDo 2 net damage."
 :title "Delayed Neural Reaction
 :trash-cost 3
 :type :operation
 :uniqueness false}
