{:cost 3
 :deck-limit 3
 :faction :nbn
 :id "DeluxeSubscription"
 :influence-cost 2
 :side :corp
 :strength 3
 :subtype [:barrier :ritzy] 
 :text "When the Runner encounters this ice, the Corp may pay 0[credit], 1[credit], 2[credit], or 3[credit].\nThis ice has +3 strength if at least 2[credit] was paid.\n[subroutine]The Runner loses 3[credit] if at least 1[credit] was paid.\n[subroutine]Gain 3[credit] if 3[credit] was paid.\n[subroutine]End the run."
 :title "Deluxe Subscription"
 :type :ice
 :uniqueness false}
