{:advancement-requirement 3
 :agenda-points 1
 :deck-limit 3
 :faction :jinteki
 :id "DesignerClones"
 :side :corp
 :text "[interrupt] When this agenda would be scored, the Corp may give it the name and printed text of an agenda in the Corp's score area.\n[interrupt] When this agenda would be stolen, the Corp may give it the name and printed text of an agenda in the Runner's score area."
 :title "Designer Clones"
 :type :agenda
 :uniqueness false}
