{:cost 4
 :deck-limit 3
 :faction :haas-bioroid
 :id "DigitalMRI"
 :influence-cost 3
 :side :corp
 :strength 3
 :subtype [:sentry :ap] 
 :text "[subroutine]Do 1 net damage for each point of brain damage suffered.\n[subroutine]Do 1 brain damage."
 :title "Digital MRI"
 :type :ice
 :uniqueness false}
