{:cost 3
 :deck-limit 3
 :faction :jinteki
 :id "Dilemma"
 :influence-cost 4
 :side :corp
 :strength 4
 :subtype [:sentry :ap] 
 :text "[subroutine] Do 2 net damage when this run is successful.\n[subroutine] Do 3 net damage when the Runner jacks out during this run."
 :title "Dilemma"
 :type :ice
 :uniqueness false}
