{:cost 2
 :deck-limit 3
 :faction :weyland-consortium
 :id "Distant"
 :influence-cost 3
 :side :corp
 :subtype [:remote] 
 :text "This asset can only be rezzed if you have at least 3 remote servers.\nIce protecting central servers have +1 strength for each remote server."
 :title "Distant"
 :trash-cost 3
 :type :asset
 :uniqueness false}
