{:cost 1
 :deck-limit 3
 :faction :haas-bioroid
 :id "Distraction"
 :influence-cost 1
 :side :corp
 :strength 1
 :subtype [:code-gate :prep] 
 :text "During runs on this server, you can rez this ice any time you could rez non-ice cards.\nAs an additional cost to break subroutines on ice protecting this server using non-<strong>icebreaker</strong> cards, the Runner must spend [click].\n[subroutine]End the run unless the Runner loses [click]."
 :title "Distraction"
 :type :ice
 :uniqueness false}
