{:cost 3
 :deck-limit 3
 :faction :nbn
 :id "DownloadMoreRAM"
 :influence-cost 2
 :side :corp
 :strength 0
 :subtype [:barrier :injector :advertisement] 
 :text "This ice has +2 strength for each unused [mu] the Runner has.\n[subroutine]Gain 1[credit].\n[subroutine]Gain 1[credit].\n[subroutine]End the run."
 :title "Download More RAM!"
 :type :ice
 :uniqueness false}
