{:cost 1
 :deck-limit 3
 :faction :weyland-consortium
 :id "EarthDayParade"
 :influence-cost 3
 :side :corp 
 :text "Remove half of the faceup cards in Archives from the game (rounded up). Gain 1[credit] for each removed card."
 :title "Earth Day Parade"
 :type :operation
 :uniqueness false}
