{:cost 0
 :deck-limit 3
 :faction :shaper
 :id "EiseniaFetida"
 :influence-cost 2
 :memory-cost 1
 :side :runner
 :subtype [:virus] 
 :text "[click][click]: Remove from the game a card from your grip. Install a card of the same type from the heap, ignoring the install cost.\nTrash this program if the Corp purges virus counters."
 :title "Eisenia Fetida"
 :type :program
 :uniqueness false}
