{:cost 1
 :deck-limit 3
 :faction :haas-bioroid
 :id "ElizasDIYKit"
 :influence-cost 4
 :side :corp
 :subtype [:triple :ritzy :condition] 
 :text "As an additional cost to play this operation, spend [click],[click].\nRez an ice and install this operation on that ice as a hosted condition counter with the text “Host ice gains <strong>ritzy</strong>.“"
 :title "Eliza's DIY Kit"
 :type :operation
 :uniqueness false}
