{:advancement-requirement 3
 :agenda-points 2
 :deck-limit 1
 :faction :weyland-consortium
 :id "Embark"
 :side :corp
 :text "When an agenda is scored, stolen or added to a score area, gain credits equal to the agenda points on the agenda (including Embark).\nLimit 1 per deck.\nAll other agendas in this deck must be worth at least 3 agenda points."
 :title "Embark"
 :type :agenda
 :uniqueness true}
