{:cost 3
 :deck-limit 3
 :faction :nbn
 :id "EncryptionWall"
 :influence-cost 3
 :side :corp
 :strength 5
 :subtype [:barrier] 
 :text "The Runner can pay 4[credit] when encountering this ice to add it to their score area as an agenda worth -1 agenda points with the text “This agenda cannot be forfeit“.\n[subroutine] End the run."
 :title "Encryption Wall"
 :type :ice
 :uniqueness false}
