{:cost 10
 :deck-limit 3
 :faction :weyland-consortium
 :id "Endtime"
 :influence-cost 3
 :side :corp
 :strength 6
 :subtype [:barrier] 
 :text "This ice has “[subroutine]End the run.“ for each card in HQ."
 :title "Endtime"
 :type :ice
 :uniqueness false}
