{:cost 0
 :deck-limit 3
 :faction :haas-bioroid
 :id "EQ"
 :influence-cost 2
 :side :corp
 :strength 0
 :subtype [:code-gate :ap] 
 :text "The rez cost of this ice is increased by 1 for each card in HQ.\nThis ice has +1 strength for each card in HQ.\n[subroutine]Do 1 brain damage."
 :title "EQ"
 :type :ice
 :uniqueness false}
