{:cost 1
 :deck-limit 3
 :faction :shaper
 :id "eScape"
 :influence-cost 1
 :side :runner 
 :text "+1 [link]\nThe first time you spend or lose a credit during a run, gain 1[credit].\nThe first time you spend or lose a [click] during a run, gain [click].\n[interrupt]<strong>Trash e-Scape</strong>: Jack out. Use this ability immediately after a subroutine fired."
 :title "e-Scape
 :type :hardware
 :uniqueness true}
