{:cost 2
 :deck-limit 3
 :faction :nbn
 :id "EthanKarensky"
 :influence-cost 2
 :side :corp
 :subtype [:sysop :injector] 
 :text "As an additional cost to initiate a run on this server, the Runner gets :-1mu: until the end of the run."
 :title "Ethan Karensky"
 :trash-cost 2
 :type :upgrade
 :uniqueness true}
