{:cost 0
 :deck-limit 3
 :faction :anarch
 :id "Eventuality"
 :influence-cost 2
 :side :runner 
 :text "Play an event from your grip, lowering the play cost by 3."
 :title "Eventuality
 :type :event
 :uniqueness false}
