{:cost 0
 :deck-limit 3
 :faction :neutral-corp
 :id "ExpandedLabs"
 :influence-cost 1
 :side :corp
 :subtype [:facility] 
 :text "Your maximum hand size is increased by 2."
 :title "Expanded Labs
 :trash-cost 5
 :type :asset
 :uniqueness false}
