{:deck-limit 1
 :faction :neutral-corp
 :id "ExplorationLLC"
 :influence-limit 25
 :minimum-deck-size 45
 :side :corp
 :subtype [:corporation] 
 :text "You can use agendas from all factions.\nYou may have at most 3 agendas of each agenda point and advancement requirement combination.\n[click]: Gain 1[credit] for each unique combination in your score area. Use this ability only once per turn."
 :title "Exploration LLC : Spreading Knowledge"
 :type :identity
 :uniqueness false}
