{:base-link 0
 :deck-limit 1
 :faction :shaper
 :id "FaeFoxwell"
 :influence-limit 9
 :minimum-deck-size 45
 :side :runner
 :subtype [:ritzy] 
 :text "The first copy of each <strong>connection</strong> resource in this deck does not count against your influence limit."
 :title "Fae Foxwell : Connected With Style"
 :type :identity
 :uniqueness false}
