{:cost 0
 :deck-limit 3
 :faction :nbn
 :id "FailedGambit"
 :influence-cost 2
 :side :corp
 :subtype [:ambush] 
 :text "If this upgrade is accessed from R&D, the Runner must reveal it.\nWhen the Runner accesses this upgrade, end the run unless the Runner pays 5[credit]."
 :title "Failed Gambit"
 :trash-cost 0
 :type :upgrade
 :uniqueness false}
