{:cost 4
 :deck-limit 3
 :faction :neutral-runner
 :id "FallenComrades"
 :influence-cost 0
 :side :runner 
 :text "Gain 3[credit] for each different <strong>connection</strong> resource in the heap."
 :title "Fallen Comrades"
 :type :event
 :uniqueness false}
