{:cost 1
 :deck-limit 3
 :faction :jinteki
 :id "FamilyObligation"
 :influence-cost 2
 :side :corp
 :subtype [:daily] 
 :text "[click]: Gain 3[credit]. Use this ability only once per turn and only if the Runner did not make any successful runs on this server during their last turn."
 :title "Family Obligation"
 :trash-cost 2
 :type :asset
 :uniqueness false}
