{:cost 3
 :deck-limit 3
 :faction :criminal
 :id "FasterSpeeds"
 :influence-cost 3
 :side :runner
 :subtype [:virtual] 
 :text "When your turn begins, gain 1[credit] and draw 1 card.\nWhen your turn begins the Corp may gain 1[credit] and draw 1 card."
 :title "Faster Speeds
 :type :resource
 :uniqueness true}
