{:advancement-requirement 4
 :agenda-points 2
 :deck-limit 3
 :faction :weyland-consortium
 :id "FederalReserveContract"
 :side :corp
 :subtype [:government]
 :text "2[recurring-credit]\nUse these credits to advance cards."
 :title "Federal Reserve Contract"
 :type :agenda
 :uniqueness false}
