{:cost 5
 :deck-limit 3
 :faction :weyland-consortium
 :id "Flock"
 :influence-cost 4
 :side :corp
 :strength 3
 :subtype [:sentry :destroyer :illicit] 
 :text "When you rez this ice, take 1 bad publicity.\nThis ice can be advanced and gains “[subroutine]Trash an installed card unless the Runner pays 3[credit].“ for each advancement token on it."
 :title "Flock"
 :type :ice
 :uniqueness false}
