{:cost 7
 :deck-limit 3
 :faction :nbn
 :id "Flourish"
 :influence-cost 2
 :side :corp
 :strength 5
 :subtype [:code-gate] 
 :text "[subroutine]You may draw up to 2 cards.\n[subroutine]Gain 1[credit] for each card in HQ.\n[subroutine]End the run and the Runner's turn if the Corp has 7 or more cards in HQ."
 :title "Flourish"
 :type :ice
 :uniqueness false}
