{:cost 3
 :deck-limit 3
 :faction :haas-bioroid
 :id "Francis10"
 :influence-cost 4
 :side :corp
 :strength 1
 :subtype [:barrier :bioroid :onrez] 
 :text "When you rez this ice during a run on this server, end the run unless the Runner loses [click].\nThis ice cannot be derezzed.\nThe Runner may spend [click] to break any subroutine on this ice.\n[subroutine]End the run."
 :title "Francis 1.0"
 :type :ice
 :uniqueness false}
