{:cost 0
 :deck-limit 3
 :faction :adam
 :id "FrequentDreams"
 :influence-cost 3
 :side :runner
 :subtype [:virtual :directive] 
 :text "You can not use credits from your credit pool to pay for events.\nYou can use any [recurring-credit] to pay for events."
 :title "Frequent Dreams"
 :type :resource
 :uniqueness true}
