{:cost 3
 :deck-limit 3
 :faction :haas-bioroid
 :id "Freud25"
 :influence-cost 2
 :side :corp
 :strength 5
 :subtype [:barrier :bioroid] 
 :text "The Runner may spend [click][click] to break all subroutines on this ice.\nThe Runner may spend [click][click][click] to add this ice to their score area as an agenda worth -1 agenda points.\n[subroutine]End the run."
 :title "Freud 2.5"
 :type :ice
 :uniqueness false}
