{:cost 1
 :deck-limit 3
 :faction :neutral-runner
 :id "FriendsWithBenefits"
 :influence-cost 0
 :side :runner
 :subtype [:virtual] 
 :text "Your <strong>companion</strong> cards' <i>tribute</i> threshold is increased by 1."
 :title "Friends With Benefits
 :type :resource
 :uniqueness false}
