{:cost 3
 :deck-limit 3
 :faction :jinteki
 :id "Fuse"
 :influence-cost 3
 :side :corp
 :strength 2
 :subtype [:sentry :ap :bomb] 
 :text "Whenever an encounter with Fuse ends, place 1 power counter on this ice.\nWhen there are 3 power counters on this ice, do 2 net damage and end the run. Trash this ice.\n[subroutine] Do 1 net damage.\n"
 :title "Fuse"
 :type :ice
 :uniqueness true}
