{:deck-limit 1
 :faction :nbn
 :id "GeonomicServices2"
 :influence-limit 15
 :minimum-deck-size 45
 :side :corp
 :subtype [:division] 
 :text "Lower the cost to trash assets by 2[credit].\n<strong>[click][click]</strong>: Flip this identity."
 :title "Geonomic Services : On Your Side"
 :type :identity
 :uniqueness false}
