{:deck-limit 1
 :faction :nbn
 :id "GeonomicServices"
 :influence-limit 15
 :minimum-deck-size 45
 :side :corp
 :subtype [:division] 
 :text "Assets cannot be trashed while accessed.\nWhen the Runner makes a successful run on HQ, they may pay 5[credit] to flip this identity."
 :title "Geonomic Services : On Your Side"
 :type :identity
 :uniqueness false}
