{:cost 3
 :deck-limit 3
 :faction :apex
 :id "Gorger"
 :influence-cost 3
 :memory-cost 2
 :side :runner
 :strength 2
 :subtype [:icebreaker :fracter] 
 :text "Whenever a card is put into Archives, you must pay 2[credit] or trash this program.\nThis program has +1 strength for each card in Archives.\n1[credit]: Break <strong>barrier</strong> subroutine."
 :title "Gorger"
 :type :program
 :uniqueness false}
