{:advancement-requirement 4
 :agenda-points 2
 :deck-limit 3
 :faction :neutral-corp
 :id "GridBank"
 :side :corp
 :text "[click]: Gain 2[credit]. This ability can only be used only once per turn and even while in the Runner's score area."
 :title "Grid Bank"
 :type :agenda
 :uniqueness false}
