{:advancement-requirement 4
 :agenda-points 2
 :deck-limit 3
 :faction :haas-bioroid
 :id "GridControl"
 :side :corp
 :text "The first time each turn a card is rezzed, gain 1 credit."
 :title "Grid Control"
 :type :agenda
 :uniqueness true}
