{:cost 3
 :deck-limit 3
 :faction :weyland-consortium
 :id "Grower"
 :influence-cost 2
 :side :corp
 :strength 3
 :subtype [:barrier :onrez] 
 :text "When you rez this ice, place 2 power counters on it.\n<strong>Hosted power counter</strong>: Grower has +3 strength until the end of the run. Use this ability only once per run.\n[subroutine]Place 3 power counters on Grower.\n[subroutine]End the run."
 :title "Grower"
 :type :ice
 :uniqueness false}
