{:deck-limit 1
 :faction :haas-bioroid
 :id "HaasBioroidUprezzingYourLife"
 :influence-limit 15
 :minimum-deck-size 45
 :side :corp
 :subtype [:megacorp] 
 :text "The first time on your turn you rez a card, you may derez another card to reduce the cost of the card being rezzed by the rez cost of the derezzed card."
 :title "Haas-Bioroid : Uprezzing Your Life"
 :type :identity
 :uniqueness false}
