{:cost 5
 :deck-limit 3
 :faction :jinteki
 :id "Haji"
 :influence-cost 3
 :side :corp
 :strength 2
 :subtype [:barrier :ap :illicit] 
 :text "When you rez this ice, take 1 bad publicity.\nThis ice has +1 strength for each bad publicity you have.\n[subroutine]Do 3 net damage or end the run."
 :title "Haji"
 :type :ice
 :uniqueness false}
