{:base-link 0
 :deck-limit 1
 :faction :anarch
 :id "HappyGohum"
 :influence-limit 15
 :minimum-deck-size 45
 :side :runner
 :subtype [:natural] 
 :text "Whenever a successful run on Archives ends, you may host 1 non-agenda card from Archives on this identity (max 3 hosted cards).\nThe Corp cannot rez or play copies of cards hosted on this identity."
 :title "Happy Gohum : Super Scrappy!"
 :type :identity
 :uniqueness false}
