{:cost 7
 :deck-limit 3
 :faction :jinteki
 :id "Haunter"
 :influence-cost 2
 :side :corp
 :strength 5
 :subtype [:sentry] 
 :text "<strong>Hosted power token:</strong> Do 1 net damage. Use this only at the end of the Runners turn and only once per turn.\n[subroutine]Place 4 power counters on Haunter.\n[subroutine]End the run."
 :title "Haunter"
 :type :ice
 :uniqueness false}
