{:base-link 0
 :deck-limit 1
 :faction :criminal
 :id "Hawkin"
 :influence-limit 15
 :minimum-deck-size 45
 :side :runner
 :subtype [:cyborg] 
 :text "When the Corp's turn end, if a card was advanced this turn, flip this identity.\nYou cannot play or install :anarch:-cards.\nWhen your turn begins, gain 1[credit]."
 :title "Himiya “Hawkin“ Kyoko : Criminally Insane"
 :type :identity
 :uniqueness false}
