{:cost 4
 :deck-limit 3
 :faction :jinteki
 :id "HeavyRain"
 :influence-cost 3
 :side :corp
 :strength 2
 :subtype [:code-gate :optional :ap] 
 :text "A maximum of 2 subroutines on this ice may be broken (or fired) during an encounter.\n[subroutine]Gain 1[credit] for each card in the Runners grip.\n[subroutine]Do 2 net damage.\n[subroutine]The Runner trashes 3 cards from their grip."
 :title "Heavy Rain"
 :type :ice
 :uniqueness false}
