{:cost 3
 :deck-limit 3
 :faction :haas-bioroid
 :id "HelixLoop"
 :influence-cost 1
 :side :corp
 :strength 3
 :subtype [:code-gate :press-release :expansion] 
 :text "[interrupt] When you install this ice, you may reveal it to ignore all install costs.\n[subroutine]The Runner can't spend clicks on non-basic actions until the end of this turn.\n[subroutine]The Corp has an additional [click] to spend on their next turn.\n[subroutine]The Corp has an additional [click] to spend on their next turn."
 :title "Helix Loop"
 :type :ice
 :uniqueness false}
