{:cost 4
 :deck-limit 3
 :faction :adam
 :id "Hy5"
 :influence-cost 4
 :memory-cost 1
 :side :runner
 :strength 1
 :subtype [:fracter :seedy] 
 :text "This program has + strength equal to your maximum hand size.\n1[credit]: Break <strong>barrier</strong> subroutine.\n2[credit]: +1 strength."
 :title "H(y)5"
 :type :program
 :uniqueness false}
