{:cost 1
 :deck-limit 3
 :faction :jinteki
 :id "HyoubuHealthFacility"
 :influence-cost 2
 :side :corp
 :subtype [:facility] 
 :text "When your turn begins, gain 2[credit] if the Runner does not have cards in their grip equal to their maximum hand size.\nThe Runner's maximum hand size is increased by 3."
 :title "Hyoubu Health Facility
 :trash-cost 5
 :type :asset
 :uniqueness false}
