{:cost 3
 :deck-limit 3
 :faction :sunny
 :id "Incentive"
 :influence-cost 2
 :side :runner 
 :text "The Corp may install any number of cards from HQ, paying install costs.\nGain 4[credit] for each card in HQ."
 :title "Incentive
 :type :event
 :uniqueness false}
