{:deck-limit 1
 :faction :jinteki
 :id "IndustrialGeonomicsRenewedEnergy"
 :influence-limit 15
 :minimum-deck-size 45
 :side :corp
 :subtype [:subsidiary] 
 :text "Lower the rez cost of the first ice rezzed each turn by the number of facedown cards in archives."
 :title "Industrial Geonomics : Renewed Energy"
 :type :identity
 :uniqueness false}
