{:cost 1
 :deck-limit 3
 :faction :anarch
 :id "InformationTrader"
 :influence-cost 3
 :side :runner
 :subtype [:connection] 
 :text "The first time each turn you access a card with at least one advancement token on it, gain 3[credit]."
 :title "Information Trader
 :type :resource
 :uniqueness true}
