{:cost 1
 :deck-limit 3
 :faction :anarch
 :id "InsideInformant"
 :influence-cost 2
 :side :runner
 :subtype [:connection :seedy] 
 :text "Place 3 power counters on this resource when it is installed.\n<strong>Hosted power counter</strong>: -2 strength to an ice being encountered. Use this ability only once per turn."
 :title "Inside Informant"
 :type :resource
 :uniqueness true}
