{:cost 1
 :deck-limit 3
 :faction :criminal
 :id "InsuranceContact"
 :influence-cost 1
 :side :runner
 :subtype [:connection] 
 :text "The first time each turn you lose 1[credit] or more, gain 1[credit]."
 :title "Insurance Contact"
 :type :resource
 :uniqueness true}
