{:cost 4
 :deck-limit 3
 :faction :NBN
 :id "IONU"
 :influence-cost 2
 :side :corp
 :strength 5
 :subtype [:barrier :tracer :onrez] 
 :text "When you rez this ice, place 1 power counter on it.\n<strong>Hosted power counter</strong>: Increase the base trace strength of each subroutine on this ice by 2.\n[subroutine]<strong>Trace<sup><strong>¹</strong></sup></strong> – If successful, place 2 power counters on this ice.\n[subroutine]<strong>Trace<sup><strong>¹</strong></sup></strong> – If successful, give the Runner 1 tag.\n[subroutine]<strong>Trace<sup><strong>¹</strong></sup></strong> – If successful, end the run."
 :title "IONU"
 :type :ice
 :uniqueness false}
