{:cost 0
 :deck-limit 3
 :faction :adam
 :id "IterativeLoop"
 :influence-cost 3
 :side :runner
 :subtype [:virtual :directive] 
 :text "Only one Runner card with [recurring-credit] is refilled each of your turns.\n1[recurring-credit]\nUse this credit for installing cards."
 :title "Iterative Loop
 :type :resource
 :uniqueness true}
