{:base-link 1
 :deck-limit 1
 :faction :criminal
 :id "JasperJohnston"
 :influence-limit 15
 :minimum-deck-size 45
 :side :runner
 :subtype [:cyborg] 
 :text "The first time each turn you initiate a run on HQ, one of your installed <strong>icebreakers</strong> may gain +1 strength during the run for every 2 cards in HQ."
 :title "Jasper Johnston : Jazz'HNDZ"
 :type :identity
 :uniqueness false}
