{:base-link 0
 :deck-limit 1
 :faction :shaper
 :id "JayVironic"
 :influence-limit 17
 :minimum-deck-size 45
 :side :runner
 :subtype [:natural] 
 :text "[click], <strong>trash an installed virus card:</strong>Install a card from your grip lowering its install cost for each virus counter on the trashed card."
 :title "Jay “Vironic“ : Song In Your Head"
 :type :identity
 :uniqueness false}
