{:base-link 0
 :deck-limit 1
 :faction :criminal
 :id "JiaoWunBack"
 :influence-limit 15
 :minimum-deck-size 45
 :side :runner
 :subtype [:cyborg] 
 :text "The first time you initiate a run on your turn, you may remove X tags and pay X[credit]. Each <strong>icebreaker</strong> have +X strength for the remainder of this run.\nWhen your turn ends, flip this identity."
 :title "Jiao Wun : Fuelled by Rage™"
 :type :identity
 :uniqueness false}
