{:base-link 0
 :deck-limit 1
 :faction :criminal
 :id "JiaoWunFront"
 :influence-limit 15
 :minimum-deck-size 45
 :side :runner
 :subtype [:cyborg] 
 :text "When your turn begins, gain 1 tag.\n[click]: Flip this identity and end your turn."
 :title "Jiao Wun : Fuelled by Diesel™"
 :type :identity
 :uniqueness false}
