{:cost 2
 :deck-limit 3
 :faction :jinteki
 :id "Jigai"
 :influence-cost 3
 :side :corp 
 :text "At the end of the Runner's turn:\nThe Runner trashes a Runner card that was installed that turn.\nPlace 1 power counter on this asset.\nTrash this asset if it has 3 power counters on it."
 :title "Jigai"
 :trash-cost 4
 :type :asset
 :uniqueness false}
