{:base-link 0
 :deck-limit 1
 :faction :criminal
 :id "JillJackson"
 :influence-limit 15
 :minimum-deck-size 45
 :side :runner
 :subtype [:cyborg] 
 :text "Place 3 power pounters on Jill Jackson at the start of the game.\n<strong>Hosted power counter:</strong> Jack out.\n[click],[click],[click]: Add 1 power counter on Jill Jackson."
 :title "Jill Jackson : Cyberscout"
 :type :identity
 :uniqueness false}
