{:deck-limit 1
 :faction :jinteki
 :id "JintekiDownsizing"
 :influence-limit 15
 :minimum-deck-size 40
 :side :corp
 :subtype [:megacorp] 
 :text "Whenever an agenda is scored, <strong>trace<sup><strong>¹</strong></sup></strong> – If successful, place 1 Power Counter on this identity.\nThe Runners maximum hand size is reduced by 1 for each power counter on this identity."
 :title "Jinteki : Downsizing"
 :type :identity
 :uniqueness false}
