{:advancement-requirement 5
 :agenda-points 3
 :deck-limit 3
 :faction :jinteki
 :id "JintekiUltimatum"
 :side :corp
 :text "<strong>[click][click][click], trash a card from HQ</strong>: Do 2 net damage."
 :title "Jinteki Ultimatum"
 :type :agenda
 :uniqueness false}
