{:deck-limit 1
 :faction :jinteki
 :id "JintekiJikoGisei"
 :influence-limit 20
 :minimum-deck-size 50
 :side :corp
 :subtype [:megacorp] 
 :text "[click]: Trash the top card of the stack and R&D."
 :title "Jinteki : Jiko Gisei"
 :type :identity
 :uniqueness false}
