{:deck-limit 1
 :faction :jinteki
 :id "JizokuLabs"
 :influence-limit 15
 :minimum-deck-size 45
 :side :corp
 :subtype [:division] 
 :text "The first time immediately after you play a <strong>terminal</strong> card each turn, you may play a different <strong>terminal</strong> card."
 :title "Jizoku Labs : Unstoppable Force"
 :type :identity
 :uniqueness false}
