{:base-link 0
 :deck-limit 1
 :faction :neutral-runner
 :id "JoeLawrence"
 :influence-limit 20
 :minimum-deck-size 45
 :side :runner
 :subtype [:cyborg] 
 :text "When installing non-neutral cards, pay the card's influence cost instead of it's install cost."
 :title "Joe Lawrence : Spendthrift"
 :type :identity
 :uniqueness false}
