{:cost 5
 :deck-limit 3
 :faction :jinteki
 :id "KabeNoChi"
 :influence-cost 2
 :side :corp
 :strength 3
 :subtype [:code-gate] 
 :text "All <strong>code gate</strong> ice have +1 strength if there are at least 2 <strong>sentry</strong> ice rezzed.\n[subroutine]End the run."
 :title "Kabe no Chi"
 :type :ice
 :uniqueness true}
