{:cost 5
 :deck-limit 3
 :faction :jinteki
 :id "Kaizen"
 :influence-cost 2
 :side :corp
 :strength 2
 :subtype [:barrier :ap] 
 :text "When the Runner encounters Kaizen, it gains “[subroutine] Do 1 net damage“ for each card in, or in the root of this server for the remainder of this run."
 :title "Kaizen"
 :type :ice
 :uniqueness false}
