{:base-link 0
 :deck-limit 1
 :faction :criminal
 :id "KarlaMaille"
 :influence-limit 15
 :minimum-deck-size 45
 :side :runner
 :subtype [:g-mod] 
 :text "When your first run each turn starts, gain 1[credit] for each ice beyond the first protecting the server unless the Corp pays 1[credit] or trashes a card from HQ."
 :title "Karla Maille : “Mad-dog-Milly“"
 :type :identity
 :uniqueness false}
