{:cost 6
 :deck-limit 3
 :faction :weyland-consortium
 :id "Keep"
 :influence-cost 2
 :side :corp
 :strength 3
 :subtype [:barrier] 
 :text "Other ice protecting this server have +1 strength.\n[subroutine]End the run.\n[subroutine]End the run.\n[subroutine]End the run."
 :title "Keep"
 :type :ice
 :uniqueness false}
