{:cost 1
 :deck-limit 3
 :faction :criminal
 :id "Keylogger"
 :influence-cost 4
 :side :runner 
 :text "At the end of a turn where the Corp drew multiple cards, the Corp must trash one card from HQ if able."
 :title "Keylogger"
 :type :hardware
 :uniqueness true}
