{:advancement-requirement 3
 :agenda-points 1
 :deck-limit 3
 :faction :weyland-consortium
 :id "LaunchPrep"
 :side :corp
 :text "When your turn ends, place 1 advancement token on an installed card with no advancement tokens on it."
 :title "Launch Prep"
 :type :agenda
 :uniqueness false}
