{:cost 0
 :deck-limit 3
 :faction :adam
 :id "LayOfTheLand"
 :influence-cost 3
 :side :runner
 :subtype [:virtual :directive :seedy] 
 :text "Only one <strong>when your turn begins</strong> effect triggers at the start of your turn.\n[click],[click],[click], 3[credit]: Trash this card. The Corp can use this ability."
 :title "Lay of the Land"
 :type :resource
 :uniqueness true}
