{:deck-limit 1
 :faction :neutral-corp
 :id "LCGroup"
 :influence-limit 25
 :minimum-deck-size 45
 :side :corp
 :subtype [:division] 
 :text "This deck can use agendas from any faction, but may not include any 3/2 or 4/2 agendas.\nLower the advancement requirements agendas worth 2 agenda points by 1."
 :title "LC Group : Your Investment, Doubled"
 :type :identity
 :uniqueness false}
