{:cost 1
 :deck-limit 3
 :faction :neutral-corp
 :id "LevyScholarshipProgram"
 :influence-cost 0
 :side :corp 
 :text "Install only in the root of R&D.\nWhen your turn begins, you may pay 1[credit] to search R&D for an ice. Reveal it and add it to HQ. Shuffle R&D."
 :title "Levy Scholarship Program"
 :trash-cost 2
 :type :upgrade
 :uniqueness true}
