{:cost 1
 :deck-limit 3
 :faction :haas-bioroid
 :id "Loboptimist"
 :influence-cost 3
 :side :corp
 :subtype [:seedy] 
 :text "Gain 8[credit] if the Runner has suffered damage this turn."
 :title "Loboptimist"
 :type :operation
 :uniqueness false}
