{:cost 2
 :deck-limit 3
 :faction :haas-bioroid
 :id "LuxuryTaxDepartment"
 :influence-cost 2
 :side :corp
 :subtype [:ritzy :facility] 
 :text "When your turn begins, Gain 2[credit] if there are at least 3 <strong>ritzy</strong> cards installed faceup."
 :title "Luxury Tax Department
 :trash-cost 3
 :type :asset
 :uniqueness false}
