{:base-link 0
 :deck-limit 1
 :faction :shaper
 :id "LynnaMattix"
 :influence-limit 15
 :minimum-deck-size 45
 :side :runner
 :subtype [:natural] 
 :text "You may start the game with a <strong>console</strong> costing up to 5[credit] from your deck installed (without paying it's install cost.)"
 :title "Lynna Mattix : Prepper Prepper"
 :type :identity
 :uniqueness false}
