{:cost 4
 :deck-limit 3
 :faction :jinteki
 :id "MagicPortal"
 :influence-cost 2
 :side :corp
 :strength 5
 :subtype [:sentry :deflector] 
 :text "[subroutine]You may make the Runner approach a different server with the same amount of ice as this server. If the run on that server is successful, instead treat it as a successful run on this server."
 :title "“Magic“ Portal"
 :type :ice
 :uniqueness false}
