{:cost 4
 :deck-limit 3
 :faction :shaper
 :id "Mahanada"
 :influence-cost 2
 :memory-cost 1
 :side :runner 
 :text "2[recurring-credit]\nUse these credits to install programs or hardware. You cannot use these credits to install a program that trashes this one."
 :title "Mahanada"
 :type :program
 :uniqueness false}
