{:cost 0
 :deck-limit 3
 :faction :adam
 :id "ManageThePain"
 :influence-cost 3
 :side :runner
 :subtype [:virtual :directive] 
 :text "Whenever you take damage, take 1 additional damage of the same type.\nPrevent the first point of damage from the Corp taken each turn."
 :title "Manage the Pain
 :type :resource
 :uniqueness true}
