{:advancement-requirement 3
 :agenda-points 1
 :deck-limit 3
 :faction :jinteki
 :id "MarsMiningNode"
 :side :corp
 :text "1[recurring-credit]\nUse this credit for anything."
 :title "Mars Mining Node"
 :type :agenda
 :uniqueness false}
