{:cost 2
 :deck-limit 3
 :faction :neutral-runner
 :id "MeditationServer"
 :influence-cost 0
 :side :runner
 :subtype [:virtual] 
 :text "[click]: Draw 2 cards. Use this ability only once per turn."
 :title "Meditation Server"
 :type :resource
 :uniqueness true}
