{:cost 3
 :deck-limit 3
 :faction :nbn
 :id "MemoryLeak"
 :influence-cost 3
 :side :corp
 :strength 3
 :subtype [:sentry :injector] 
 :text "[subroutine]The Runner has :-1mu: until the end of this turn.\n[subroutine]The Runner has :-1mu: until the end of this turn.\n[subroutine]The Runner has :-1mu: until the end of this turn."
 :title "Memory Leak"
 :type :ice
 :uniqueness false}
