{:cost 4
 :deck-limit 3
 :faction :NBN
 :id "MemoryInjection"
 :influence-cost 4
 :side :corp
 :strength 3
 :subtype [:sentry :injector] 
 :text "The Runner has :-1mu: for each power counter on this ice.\n[subroutine]Place 1 power counter on this ice.\n[subroutine]End the run if the Runner has no unused [mu]."
 :title "Memory Injection"
 :type :ice
 :uniqueness false}
