{:advancement-requirement 4
 :agenda-points 2
 :deck-limit 3
 :faction :NBN
 :id "MemoryLeakProtocol"
 :side :corp
 :text "The Runner has :-1mu:."
 :title "Memory Leak Protocol"
 :type :agenda
 :uniqueness false}
