{:cost 1
 :deck-limit 3
 :faction :nbn
 :id "MirandaRhapsody"
 :influence-cost 1
 :side :corp
 :subtype [:character :advertisement] 
 :text "All <strong>advertisement</strong> ice gains: “[subroutine]End the run.“, after their printed subroutines.\n[trash]: Gain 3[credit]."
 :title "Miranda Rhapsody"
 :trash-cost 3
 :type :asset
 :uniqueness true}
