{:cost 1
 :deck-limit 3
 :faction :weyland-consortium
 :id "MomentumLabs"
 :influence-cost 4
 :side :corp
 :subtype [:facility] 
 :text "Your maximum hand size is increased by the number of ice protecting central servers."
 :title "Momentum Labs
 :trash-cost 3
 :type :asset
 :uniqueness true}
