{:cost 0
 :deck-limit 3
 :faction :haas-bioroid
 :id "MonitorIntern"
 :influence-cost 1
 :side :corp
 :subtype [:sysop :announcement] 
 :text "Rez only during your action phase and only if the Runner made an unsuccessful run during their last turn.\n[trash]: End the run. Use this ability only during runs on this server and if the Runner hasn't broken any subroutines using <strong>icebreakers</strong> during the run."
 :title "Monitor Intern"
 :trash-cost 3
 :type :upgrade
 :uniqueness false}
