{:cost 0
 :deck-limit 3
 :faction :haas-bioroid
 :id "MoonCourtGrid"
 :influence-cost 2
 :side :corp
 :subtype [:region] 
 :text "2[recurring-credit] for each brain damage the Runner has.\nUse these credits to advance or rez cards in or protecting this server."
 :title "Moon Court Grid
 :trash-cost 3
 :type :upgrade
 :uniqueness false}
