{:cost 1
 :deck-limit 3
 :faction :NBN
 :id "MorningMarketAnnouncement"
 :influence-cost 2
 :side :corp
 :subtype [:political] 
 :text "When your turn begins, the Runner loses 1[credit] if there is no ice protecting this server."
 :title "Morning Market Announcement"
 :trash-cost 1
 :type :asset
 :uniqueness false}
