{:cost 1
 :deck-limit 3
 :faction :apex
 :id "MutuallyAssuredDestruction"
 :influence-cost 2
 :side :runner
 :subtype [:virtual] 
 :text "<strong>Forfeit an agenda, [click]: </strong>Gain 4[credit]. The Corp loses 4[credit]."
 :title "Mutually Assured Destruction"
 :type :resource
 :uniqueness false}
