{:cost 5
 :deck-limit 3
 :faction :jinteki
 :id "Naginata"
 :influence-cost 2
 :side :corp
 :strength 4
 :subtype [:sentry :ap] 
 :text "[subroutine] Do 1 net damage for each card in HQ unless the Runner discards down to 1 card in their grip."
 :title "Naginata"
 :type :ice
 :uniqueness false}
