{:deck-limit 1
 :faction :nbn
 :id "NBNUnlimetedPotential"
 :influence-limit 15
 :minimum-deck-size 45
 :side :corp
 :subtype [:megacorp] 
 :text "Increase your maximum hand size by 2.\n[click], <strong>Trash a card from HQ</strong>: Gain 2[credit]."
 :title "NBN : Unlimited Potential"
 :type :identity
 :uniqueness false}
