{:cost 1
 :deck-limit 3
 :faction :apex
 :id "Necrophage"
 :influence-cost 3
 :memory-cost 1
 :side :runner
 :subtype [:virus] 
 :text "Gain 1 credit the first time each turn a Runner card is trashed by an effect from another card."
 :title "Necrophage
 :type :program
 :uniqueness false}
