{:cost 2
 :deck-limit 3
 :faction :jinteki
 :id "NetGate"
 :influence-cost 2
 :side :corp
 :strength 3
 :subtype [:sentry :ap] 
 :text "This ice has: “[subroutine]Do 1 net damage“, for each rezzed piece of <strong>code gate</strong> ice."
 :title "Net Gate"
 :type :ice
 :uniqueness false}
