{:deck-limit 1
 :faction :neutral-corp
 :id "NetNeutrality"
 :influence-limit 25
 :minimum-deck-size 45
 :side :corp
 :subtype [:megacorp] 
 :text "This deck can use agendas from any faction, but may not include any non-neutral 3/2 agendas.\nThe cost of rezzing and playing non-neutral cards are lowered by one."
 :title "Net Neutrality : Because We Care"
 :type :identity
 :uniqueness false}
