{:cost 0
 :deck-limit 3
 :faction :criminal
 :id "NeuralAlarm"
 :influence-cost 1
 :side :runner 
 :text "The first time on each of your turns you play a <strong>priority</strong> event, gain [click] and 1[credit]."
 :title "Neural Alarm"
 :type :hardware
 :uniqueness false}
