{:base-link 0
 :deck-limit 1
 :faction :shaper
 :id "NewtonWynn"
 :influence-limit 17
 :minimum-deck-size 40
 :side :runner
 :subtype [:g-mod] 
 :text "[interrupt] When you would draw a card, instead reveal it and add it to your hand if you have no installed copy of that card. Otherwise trash it and draw a replacement card."
 :title "Newton Wynn : Neatness Maketh Man"
 :type :identity
 :uniqueness false}
