{:cost 3
 :deck-limit 6
 :faction :haas-bioroid
 :id "NEXTPaper"
 :influence-cost 1
 :side :corp
 :strength 5
 :subtype [:code-gate :next] 
 :text "[subroutine]The Corp gains 1[credit] for each rezzed piece of NEXT ice.\nLimit 6 per deck."
 :title "NEXT Paper"
 :type :ice
 :uniqueness false}
