{:cost 4
 :deck-limit 3
 :faction :haas-bioroid
 :id "NEXTScissors"
 :influence-cost 3
 :side :corp
 :strength 3
 :subtype [:sentry :next :ap] 
 :text "When the Runner encounters NEXT Scissors, he or she must pay 1[credit] for each rezzed piece of NEXT ice; otherwise do 1 brain damage."
 :title "NEXT Scissors"
 :type :ice
 :uniqueness false}
