{:base-link 0
 :deck-limit 1
 :faction :anarch
 :id "Nikita"
 :influence-limit 15
 :minimum-deck-size 45
 :side :runner
 :subtype [:cyborg] 
 :text "When the Corp's turn end, if a card was not advanced this turn, flip this identity.\nYou cannot play or install :criminal:-cards.\nAll ice are encountered with its strength lowered by 1"
 :title "Kyoko “Nikita“ Himiya : Schizoid Panic"
 :type :identity
 :uniqueness false}
