{:cost 2
 :deck-limit 3
 :faction :weyland-consortium
 :id "NolanZemke"
 :influence-cost 2
 :side :corp
 :subtype [:advertisement :executive] 
 :text "Gain 2[credit] the first time each turn you play a <strong>transaction</strong> operation."
 :title "Nolan Zemke"
 :trash-cost 3
 :type :asset
 :uniqueness true}
