{:cost 2
 :deck-limit 3
 :faction :neutral-corp
 :id "Oiler"
 :influence-cost 0
 :side :corp
 :strength 2
 :subtype [:mythic :prep] 
 :text "During runs on this server, you can rez this ice any time you could rez non-ice cards.\nThe cost to rez ice protecting this server is lowered by 2[credit].\nDerez this card after a run on this server ends."
 :title "Oiler"
 :type :ice
 :uniqueness false}
