{:cost 1
 :deck-limit 3
 :faction :jinteki
 :id "OpenInvitation"
 :influence-cost 2
 :side :corp 
 :text "The Runner may access 2 random cards in HQ. Otherwise add Open Invitation to the Runner's score area as agenda worth -1 agenda points."
 :title "Open Invitation"
 :type :operation
 :uniqueness false}
