{:cost 2
 :deck-limit 3
 :faction :haas-bioroid
 :id "OrionCroyle"
 :influence-cost 3
 :side :corp
 :subtype [:executive] 
 :text "Whenever agenda counters are placed on an agenda, place 1 extra."
 :title "Orion Croyle"
 :trash-cost 3
 :type :asset
 :uniqueness true}
