{:advancement-requirement 4
 :agenda-points 2
 :deck-limit 3
 :faction :haas-bioroid
 :id "OverwatchSentinel"
 :side :corp
 :subtype [:security]
 :text "The first time the Runner installs a card each turn, <strong>trace<sup><strong>⁰</strong></sup></strong> – If successful, do 1 brain damage."
 :title "Overwatch Sentinel"
 :type :agenda
 :uniqueness false}
