{:base-link 1
 :deck-limit 1
 :faction :neutral-runner
 :id "PalhacadasVazio"
 :influence-limit 40
 :minimum-deck-size 45
 :side :runner
 :subtype [:natural] 
 :text "You may not include more than one copy of any card in this deck."
 :title "Palhaçadas Vazio : Unexpectedly Magnificent!"
 :type :identity
 :uniqueness false}
