{:advancement-requirement 3
 :agenda-points 1
 :deck-limit 3
 :faction :NBN
 :id "PaparazziManipulation"
 :side :corp
 :text "[trash]: End the run. Use this ability only during a run."
 :title "Paparazzi Manipulation"
 :type :agenda
 :uniqueness false}
