{:cost 2
 :deck-limit 3
 :faction :nbn
 :id "ParityProtocol"
 :influence-cost 2
 :side :corp
 :subtype [:duality] 
 :text "Your deck must contain 2 copies of this card.\nIf you have 2 copies of the same card rezzed, they cannot be trashed."
 :title "Parity Protocol"
 :trash-cost 2
 :type :asset
 :uniqueness true}
