{:cost 3
 :deck-limit 3
 :faction :adam
 :id "Passenger"
 :influence-cost 4
 :memory-cost 2
 :side :runner
 :strength 2
 :subtype [:icebreaker :ai] 
 :text "1[credit]: Break up to 2 ice subroutines.\n1[credit]: +2 strength.\nUse this program only by spending [recurring-credit] credits."
 :title "Passenger"
 :type :program
 :uniqueness false}
