{:cost 1
 :deck-limit 3
 :faction :criminal
 :id "Patsy"
 :influence-cost 3
 :side :runner
 :subtype [:connection] 
 :text "[click]: Add 1 or 2 power counters to this card.\n[trash]: Prevent damage of exactly the number of power counters on this card."
 :title "Patsy
 :type :resource
 :uniqueness false}
