{:cost 2
 :deck-limit 3
 :faction :weyland-consortium
 :id "PayrollInvestigators"
 :influence-cost 2
 :side :corp
 :subtype [:covert] 
 :text "This card can only be rezzed if their server has 1 or fewer ice protecting it. If the server has 2 or more ice protecting it, derez this card.\nWhen your turn begins, place 1 power counter on this card and gain 1[credit].\n[trash]: Remove 1 bad publicity for each power counter on this card."
 :title "Payroll Investigators
 :trash-cost 3
 :type :asset
 :uniqueness false}
