{:base-link 0
 :deck-limit 1
 :faction :criminal
 :id "PhoebeSabine"
 :influence-limit 15
 :minimum-deck-size 45
 :side :runner
 :subtype [:cyborg :g-mod] 
 :text "The install cost of the first card you install each turn is lowered by 1 for every 2 tags you have.\nYou cannot install hardware."
 :title "Phoebe Sabine : @BineBae<3"
 :type :identity
 :uniqueness false}
