{:cost 5
 :deck-limit 3
 :faction :nbn
 :id "PortalService"
 :influence-cost 3
 :side :corp
 :strength 2
 :subtype [:code-gate :daily] 
 :text "Gain 1[credit] when your turn begins unless the Runner encountered this ice during their last turn.\n[subroutine] The Runner loses 2[credit]."
 :title "Portal Service"
 :type :ice
 :uniqueness false}
