{:cost 4
 :deck-limit 3
 :faction :nbn
 :id "PredictiveConstraints"
 :influence-cost 4
 :side :corp
 :strength 4
 :subtype [:sentry] 
 :text "[subroutine]Until the end of the Runner's next turn, they have to pay 3[credit] as an additional cost to initiate a run.\n[subroutine]Until the end of the Runner's next turn, they have to pay 3[credit] as an additional cost to initiate a run."
 :title "Predictive Constraints"
 :type :ice
 :uniqueness false}
