{:cost 3
 :deck-limit 3
 :faction :weyland-consortium
 :id "PressProtocol"
 :influence-cost 2
 :side :corp
 :strength 2
 :subtype [:barrier :illicit] 
 :text "When you rez this ice, take 1 bad publicity.\nThis ice has +1 strength for each bad publicity you have.\n[subroutine]End the run."
 :title "Press Protocol"
 :type :ice
 :uniqueness false}
