{:cost 1
 :deck-limit 3
 :faction :haas-bioroid
 :id "PrivateNeurosurgeon"
 :influence-cost 2
 :side :corp
 :subtype [:transaction] 
 :text "Gain 5[credit] and draw 1 card for each brain damage the Runner has suffered."
 :title "Private Neurosurgeon"
 :type :operation
 :uniqueness false}
