{:cost 1
 :deck-limit 3
 :faction :jinteki
 :id "ProjectX"
 :influence-cost 3
 :side :corp
 :subtype [:political] 
 :text "When your turn begins, place 1 advancement token on an installed Corp card if there is no ice protecting this server."
 :title "Project X
 :trash-cost 3
 :type :asset
 :uniqueness false}
