{:cost 4
 :deck-limit 3
 :faction :NBN
 :id "Prospector"
 :influence-cost 2
 :side :corp
 :strength X
 :subtype [:code-gate :press-release] 
 :text "[interrupt] When you install this ice, you may reveal it to ignore all install costs.\nX is the number of ice protecting this server.\n[subroutine]The Corp gains 3[credit].\n[subroutine]End the run."
 :title "Prospector"
 :type :ice
 :uniqueness false}
