{:cost 0
 :deck-limit 3
 :faction :anarch
 :id "ProtestChip"
 :influence-cost 1
 :side :runner
 :subtype [:cybernetic :chip] 
 :text "When you install this hardware, suffer 1 brain damage.\nGain 1[credit] whenever the Corp advances a card."
 :title "Protest Chip
 :type :hardware
 :uniqueness false}
