{:cost 0
 :deck-limit 3
 :faction :anarch
 :id "Provocate"
 :influence-cost 3
 :side :runner 
 :text "Install a card from your grip, reducing it's cost by 4.\nTrash your grip."
 :title "Provocate"
 :type :event
 :uniqueness false}
