{:advancement-requirement 4
 :agenda-points 2
 :deck-limit 3
 :faction :weyland-consortium
 :id "PublicTransportControl"
 :side :corp
 :text "2[recurring-credit]\nUse these credits to play operations.\nThis ability is active even while in the Runner's score area.\nLimit 1 per deck."
 :title "Public Transport Control"
 :type :agenda
 :uniqueness false}
