{:cost 4
 :deck-limit 3
 :faction :sunny
 :id "PublicRSSFeeds"
 :influence-cost 4
 :side :runner
 :subtype [:console] 
 :text "+:1mu:\nX[recurring-credit]\nUse these credits to pay for using <strong>icebreakers</strong>.\nX is the amount of bad publicity the Corp has.\nLimit 1 <strong>console</strong> per player."
 :title "Public RSS Feed"
 :type :hardware
 :uniqueness true}
