{:cost 1
 :deck-limit 3
 :faction :weyland-consortium
 :id "PublicShareholders"
 :influence-cost 2
 :side :corp 
 :text "The first time each turn an advancement token is placed on a card, gain 1[credit].\n[click]: Install this card. This ability only can be used if this card is faceup in Archives."
 :title "Public Shareholders"
 :trash-cost 3
 :type :asset
 :uniqueness false}
