{:cost 2
 :deck-limit 3
 :faction :jinteki
 :id "PublicDeal"
 :influence-cost 1
 :side :corp
 :subtype [:advertisement] 
 :text "Whenever a Corp card is revealed, gain 1[credit]."
 :title "Public Deal
 :trash-cost 3
 :type :asset
 :uniqueness false}
