{:cost 1
 :deck-limit 3
 :faction :weyland-consortium
 :id "PublicStock"
 :influence-cost 1
 :side :corp
 :subtype [:government] 
 :text "Whenever a faceup card is advanced, gain 1[credit]."
 :title "Public Stock
 :trash-cost 3
 :type :asset
 :uniqueness false}
