{:advancement-requirement 5
 :agenda-points 3
 :deck-limit 3
 :faction :neutral-corp
 :id "PublicAddressRegistry"
 :side :corp
 :subtype [:security]
 :text "This agenda cannot be scored or stolen if a copy is in a score area."
 :title "Public Address Registry"
 :type :agenda
 :uniqueness true}
