{:cost 0
 :deck-limit 3
 :faction :weyland-consortium
 :id "PublicApology"
 :influence-cost 2
 :side :corp
 :subtype [:press-release] 
 :text "Reveal and trash faceup any number of <strong>illicit</strong>, <strong>black ops</strong> or <strong>seedy</strong> cards from HQ.\nGain 2[credit] per card trashed and remove bad publicity up to the number of cards trashed."
 :title "Public Apology"
 :type :operation
 :uniqueness false}
