{:cost 0
 :deck-limit 3
 :faction :haas-bioroid
 :id "PublicStreamingPlaza"
 :influence-cost 1
 :side :corp
 :subtype [:advertisement] 
 :text "Whenever an agenda is scored or stolen, gain 1[credit] and you may draw 1 card."
 :title "Public Streaming Plaza
 :trash-cost 4
 :type :asset
 :uniqueness false}
