{:cost 2
 :deck-limit 2
 :faction :NBN
 :id "Pulse"
 :influence-cost 2
 :side :corp
 :strength 2
 :subtype [:barrier :duality] 
 :text "Your deck must contain 2 copies of this card.\nPulse has +3 strength if you have another copy of this card rezzed.\n[subroutine] End the run."
 :title "Pulse"
 :type :ice
 :uniqueness false}
