{:cost 4
 :deck-limit 3
 :faction :neutral-corp
 :id "Puppy"
 :influence-cost 0
 :side :corp
 :strength 2
 :subtype [:sentry] 
 :text "This ice has +1 strength for each rezzed upgrade in this server.\n[subroutine]The Corp may draw up to 3 cards.\n[subroutine]The Corp may shuffle up to 3 cards from HQ into R&D.\n[subroutine]End the run if you have cards in HQ equal to or greater than your maximum hand size."
 :title "Puppy"
 :type :ice
 :uniqueness false}
