{:cost 3
 :deck-limit 3
 :faction :weyland-consortium
 :id "Queen"
 :influence-cost 2
 :side :corp
 :strength 4
 :subtype [:sentry :illicit] 
 :text "When you rez this ice, take 1 bad publicity.\nQueen can only be advanced while rezzed and has +2 strength if it has advancement tokens on it.\nWhen you advance Queen, you may swap it with another installed piece of ice.\n[subroutine]Do 1 net damage for each bad publicity the Corp has."
 :title "Queen"
 :type :ice
 :uniqueness false}
