{:base-link 0
 :deck-limit 1
 :faction :criminal
 :id "QuelaTameron"
 :influence-limit 12
 :minimum-deck-size 40
 :side :runner
 :subtype [:cyborg] 
 :text "The first time each turn the Corp draws a card or gains a credit with a basic action, look at the top 2 cards of your stack. Add one to your grip and place the other at the bottom of the stack."
 :title "Quela Tameron : 'QuTie'"
 :type :identity
 :uniqueness false}
