{:deck-limit 1
 :faction :nbn
 :id "QuerioINC"
 :influence-limit 15
 :minimum-deck-size 45
 :side :corp
 :subtype [:subsidiary] 
 :text "As an additional cost to break a subroutine when tagged, the Runner loses 1[credit] and you gain 1[credit].\n[click],3[credit]: Give the Runner 1 tag. End your turn."
 :title "Querio INC. : You Search, We Provide"
 :type :identity
 :uniqueness false}
