{:cost 0
 :deck-limit 3
 :faction :anarch
 :id "Rage"
 :influence-cost 2
 :side :runner 
 :text "Draw 4 cards.\nWhen this turn ends, trash 2 cards from your grip if able."
 :title "Rage™"
 :type :event
 :uniqueness false}
