{:cost 5
 :deck-limit 3
 :faction :weyland-consortium
 :id "RapidGrowth"
 :influence-cost 2
 :side :corp
 :strength 5
 :subtype [:barrier :expansion :press-release] 
 :text "[interrupt] When you install this ice, you may reveal it to ignore all install costs.\n[subroutine]End the run.\n[subroutine]End the run.\n"
 :title "Rapid Growth"
 :type :ice
 :uniqueness false}
