{:base-link 0
 :deck-limit 1
 :faction :criminal
 :id "RegineAdler"
 :influence-limit 15
 :minimum-deck-size 45
 :side :runner
 :subtype [:natural] 
 :text "You may play a <strong>priority</strong> event you haven't played this turn as your second [click].\nThe first time each turn you gain or take credits from a <strong>job</strong>, gain 1[credit] from the bank."
 :title "Regine Adler : Career Climber"
 :type :identity
 :uniqueness false}
