{:cost 0
 :deck-limit 3
 :faction :neutral-corp
 :id "RemoteFacilities"
 :influence-cost 0
 :side :corp
 :subtype [:facility] 
 :text "The trash cost of all <strong>facility</strong> cards are increased by 2.\nThis applies even during the run on which the Runner trashes this asset."
 :title "Remote Facilities
 :trash-cost 2
 :type :asset
 :uniqueness false}
