{:cost 2
 :deck-limit 3
 :faction :weyland-consortium
 :id "RemoteInspection"
 :influence-cost 2
 :side :corp
 :subtype [:transaction :expansion :terminal] 
 :text "After you resolve this operation, your action phase ends.\nGain 1[credit] for each card in and protecting one of your servers."
 :title "Remote Inspection
 :type :operation
 :uniqueness false}
