{:cost 1
 :deck-limit 3
 :faction :adam
 :id "Rerun"
 :influence-cost 3
 :side :runner
 :subtype [:run] 
 :text "Make a run. If successful, gain 1[credit] for each ice that you passed and make another run."
 :title "Rerun"
 :type :event
 :uniqueness false}
