{:cost 2
 :deck-limit 3
 :faction :shaper
 :id "Reverter"
 :influence-cost 3
 :side :runner 
 :text "The first time each turn you access cards in Archives, you may force the Corp to shuffle 1 accessed card into R&D. If you do, gain 3[credit]."
 :title "Reverter"
 :type :hardware
 :uniqueness false}
