{:cost 5
 :deck-limit 3
 :faction :jinteki
 :id "Riddler"
 :influence-cost 2
 :side :corp
 :strength 4
 :subtype [:barrier :psi] 
 :text "When the Runner encounters this ice, you and the Runner secretly spend 0[credit], 1[credit], or 2[credit]. If you and the Runner spent a different number of credits, this ice has +2 strength.\n[subroutine]End the run if the Corp paid 0[credit].\n[subroutine]Trash the top 5 cards of the stack if the Corp paid 1[credit].\n[subroutine]Do 3 net damage if the Corp paid 2[credit].\n[subroutine]End the run."
 :title "Riddler"
 :type :ice
 :uniqueness false}
