{:base-link 1
 :deck-limit 1
 :faction :criminal
 :id "RipleyBukhari"
 :influence-limit 15
 :minimum-deck-size 50
 :side :runner
 :subtype [:cyborg] 
 :text "You have an extra mulligan.\nYou take your first turn before the Corp, but cannot make any runs during this turn."
 :title "Ripley Bukhari : Ripper Queen"
 :type :identity
 :uniqueness false}
