{:base-link 0
 :deck-limit 1
 :faction :shaper
 :id "Robyn"
 :influence-limit 12
 :minimum-deck-size 45
 :side :runner
 :subtype [:g-mod] 
 :text "Whenever a card is shuffled into R&D, access the top card of R&D. No more than one card can be accessed this way."
 :title "Robyn  : Roulette Robyn"
 :type :identity
 :uniqueness false}
