{:cost 0
 :deck-limit 3
 :faction :anarch
 :id "SafetyGoggles"
 :influence-cost 1
 :side :runner 
 :text "The first time each turn you would take non-brain damage, you may instead take it as brain damage. If you do, draw 1 card per damage taken."
 :title "“Safety“ Goggles"
 :type :hardware
 :uniqueness false}
