{:cost 0
 :deck-limit 3
 :faction :criminal
 :id "Salut"
 :influence-cost 2
 :memory-cost 1
 :side :runner 
 :text "The first time each turn you jack out, draw 1 card or gain 1 credit."
 :title "Salut"
 :type :program
 :uniqueness false}
