{:advancement-requirement 3
 :agenda-points 1
 :deck-limit 3
 :faction :neutral-corp
 :id "SanctionedProtest"
 :side :corp
 :text "As an additional cost to steal this agenda, the Runner must pay 3[credit]."
 :title "Sanctioned Protest"
 :type :agenda
 :uniqueness false}
