{:cost 3
 :deck-limit 3
 :faction :weyland-consortium
 :id "Scheme"
 :influence-cost 1
 :side :corp
 :strength X
 :subtype [:barrier] 
 :text "X is the number of agenda points in the Runner's score area.\nThis ice gains “[subroutine]End the run.“ for each agenda in the Corp's score area."
 :title "Scheme"
 :type :ice
 :uniqueness false}
