{:cost 4
 :deck-limit 3
 :faction :NBN
 :id "Schism"
 :influence-cost 2
 :side :corp
 :strength 2
 :subtype [:barrier] 
 :text "When the Runner encounters this ice, it gains +2 strength until the end of the run for every 5[credit] of difference between the Runner and the Corp's total credit pool.\n[subroutine]End the run."
 :title "Schism"
 :type :ice
 :uniqueness false}
