{:cost 1
 :deck-limit 3
 :faction :NBN
 :id "ScoopsWeek"
 :influence-cost 2
 :side :corp 
 :text "After you resolve this operation, your action phase ends.\nLook at the top 8 cards of R&D. You may add up to 2 of them to HQ."
 :title "Scoops Week"
 :type :operation
 :uniqueness false}
