{:cost 1
 :deck-limit 3
 :faction :adam
 :id "Scrounging"
 :influence-cost 2
 :side :runner 
 :text "Shuffle up to 5 different <strong>virtual</strong> cards from your heap into your stack."
 :title "Scrounging"
 :type :event
 :uniqueness false}
