{:cost 1
 :deck-limit 3
 :faction :haas-bioroid
 :id "SecretProjectDrafts"
 :influence-cost 2
 :side :corp
 :subtype [:research] 
 :text ""
 :title "Secret Project Drafts
 :trash-cost 2
 :type :asset
 :uniqueness false}
