{:cost 1
 :deck-limit 3
 :faction :haas-bioroid
 :id "SecretProjectDrafts"
 :influence-cost 2
 :side :corp
 :subtype [:research] 
 :text "This asset can be advanced.\n [click],[trash]: Place 1 agenda counter on an agenda in a score area for each advancement token on this asset."
 :title "Secret Project Drafts"
 :trash-cost 2
 :type :asset
 :uniqueness false}
