{:cost 5
 :deck-limit 3
 :faction :nbn
 :id "SecurityGates"
 :influence-cost 2
 :side :corp
 :strength 4
 :subtype [:code-gate] 
 :text "[subroutine]Add 1 installed Runner card to their grip if the Runner has 3 or more installed programs.\n[subroutine]Add 1 installed Runner card to their grip if the Runner has 2 or more installed programs.\n[subroutine] End the run if the Runner has 2 or more installed programs."
 :title "Security Gates"
 :type :ice
 :uniqueness false}
