{:cost 0
 :deck-limit 3
 :faction :haas-bioroid
 :id "SecurityConvention"
 :influence-cost 1
 :side :corp
 :subtype [:advertisement] 
 :text "The first time each turn you install an ice, gain 1[credit]."
 :title "Security Convention
 :trash-cost 4
 :type :asset
 :uniqueness false}
