{:cost 1
 :deck-limit 3
 :faction :weyland-consortium
 :id "SecurityConsultant"
 :influence-cost 2
 :side :corp
 :subtype [:sysop] 
 :text "When your turn begins, you may install an ice from HQ protecting this server, paying 2[credit] less.\n[click]: Move Security Consultant to another server."
 :title "Security Consultant"
 :trash-cost 3
 :type :upgrade
 :uniqueness false}
