{:cost 4
 :deck-limit 3
 :faction :sunny-lebeau
 :id "Seeker"
 :influence-cost 4
 :memory-cost 2
 :side :runner
 :strength 2
 :subtype [:icebreaker :ai] 
 :text "1[credit]: Break ice subroutine.\n2[credit]: +1 strength for each bad publicity the Corp has."
 :title "Seeker"
 :type :program
 :uniqueness false}
