{:advancement-requirement 5
 :agenda-points 3
 :deck-limit 3
 :faction :NBN
 :id "ServerLeaks"
 :side :corp
 :text "The Runner gains +:1mu: when this card is in the Corp's score area.\n:-1mu:. This ability is active only when this agenda is in the Runner's score area."
 :title "Server Leaks"
 :type :agenda
 :uniqueness false}
