{:cost 4
 :deck-limit 3
 :faction :jinteki
 :id "Setup"
 :influence-cost 2
 :side :corp
 :strength 3
 :subtype [:code-gate :ap] 
 :text "If the runner is at or above their maximum hand size, this ice has +3 strength.\n[subroutine]Do 3 net damage.\n[subroutine]When this run is successful, the Corp may pay 1[credit] to force the Runner to access one card in HQ."
 :title "Set-up!"
 :type :ice
 :uniqueness false}
