{:cost 3
 :deck-limit 3
 :faction :weyland-consortium
 :id "Shaar"
 :influence-cost 3
 :side :corp
 :strength X
 :subtype [:code-gate] 
 :text "X is the number of rezzed pieces of <strong>barrier</strong> ice.\n[subroutine]End the run."
 :title "Sha'ar"
 :type :ice
 :uniqueness false}
