{:deck-limit 1
 :faction :neutral-corp
 :id "ShadowRising"
 :influence-limit 25
 :minimum-deck-size 45
 :side :corp
 :subtype [:megacorp] 
 :text "You can use agendas from all factions in this deck."
 :title "Shadow Rising : Pulling Strings"
 :type :identity
 :uniqueness false}
