{:cost X
 :deck-limit 3
 :faction :jinteki
 :id "Shapeshifter"
 :influence-cost 3
 :side :corp
 :strength X
 :subtype [:sentry :code-gate :barrier] 
 :text "This ice has the same rez cost, strength and subroutines of the outermost rezzed piece of ice protecting this server.\nIf this is the only ice protecting this server, it has 0 strength, 0 rez cost and no subroutines."
 :title "Shapeshifter"
 :type :ice
 :uniqueness false}
