{:cost 3
 :deck-limit 3
 :faction :nbn
 :id "SharedAssets"
 :influence-cost 2
 :side :corp
 :strength 5
 :subtype [:code-gate :press-release] 
 :text "When the Runner encounters this ice, the Corp may reveal any number of trashable cards from HQ. For each card revealed, this ice gains: “[subroutine]Corp gains 3[credit] or may draw 2 cards.“ until the end of the run."
 :title "Shared Assets"
 :type :ice
 :uniqueness false}
