{:cost 4
 :deck-limit 3
 :faction :weyland-consortium
 :id "SleeProtocol"
 :influence-cost 1
 :side :corp
 :strength 1
 :subtype [:code-gate] 
 :text "[subroutine]The Corp gains 1[credit].\n[subroutine]The Corp gains 1[credit].\n[subroutine]The Corp gains 1[credit].\n[subroutine]The Corp gains 1[credit].\n[subroutine]The Corp gains 1[credit]."
 :title "Slee Protocol"
 :type :ice
 :uniqueness false}
