{:advancement-requirement 2
 :agenda-points 0
 :deck-limit 3
 :faction :neutral-corp
 :id "SmearCampaign"
 :side :corp
 :text "When you score this agenda, gain 6[credit].\nWhen this agenda is added to the Runner's score area, the Corp gains 3[credit]."
 :title "Smear Campaign"
 :type :agenda
 :uniqueness false}
