{:cost 0
 :deck-limit 3
 :faction :weyland-consortium
 :id "Snowman"
 :influence-cost 1
 :side :corp
 :strength 0
 :subtype [:barrier :onrez] 
 :text "When you rez this ice, you may pay up to 10[credit] to place that many advancement tokens on this ice.\nThis ice has +1 strength for each advancement token on it.\nWhen your turn begins, remove 1 advancement token from this ice.\n[subroutine]End the run."
 :title "Snowman"
 :type :ice
 :uniqueness false}
