{:cost 4
 :deck-limit 3
 :faction :weyland-consortium
 :id "SOAP"
 :influence-cost 2
 :side :corp
 :strength 0
 :subtype [:code-gate :onrez :antivirus] 
 :text "When you rez this ice, place 3 virus counters on it.\nThis ice has +1 strength for each virus counter hosted on it.\nWhen the Runner encounters this ice, place 1 virus counter on it.\n[subroutine]Gain 3[credit] if there are more virus counters on Corp cards than on Runner cards.\n[subroutine]The Corp may remove 2 virus counters from any card to end the run."
 :title "S.O.A.P."
 :type :ice
 :uniqueness false}
