{:cost 2
 :deck-limit 3
 :faction :anarch
 :id "SPDRUN"
 :influence-cost 3
 :memory-cost 1
 :side :runner 
 :text "When your turn begins, you may trash a card from your grip to install a card of the same type from your grip."
 :title "SPD.RUN"
 :type :program
 :uniqueness false}
