{:cost 3
 :deck-limit 3
 :faction :haas-bioroid
 :id "Spiralize"
 :influence-cost 2
 :side :corp
 :strength 5
 :subtype [:barrier :illicit] 
 :text "When you rez this ice, take 1 bad publicity.\nWhen the Runner encounters this ice, choose 1 installed non-<strong>icebreaker</strong> Runner card. That card is considered blank until the end of the Runner's turn.\n[subroutine]End the run."
 :title "Spiralize"
 :type :ice
 :uniqueness false}
