{:cost 1
 :deck-limit 3
 :faction :apex
 :id "Spray"
 :influence-cost 3
 :side :runner 
 :text "Choose up to 3 ice protecting different servers. Chosen ice has -2 strength this turn."
 :title "Spray
 :type :event
 :uniqueness false}
