{:cost 1
 :deck-limit 3
 :faction :nbn
 :id "SSSLCo"
 :influence-cost 2
 :side :corp
 :subtype [:injector :corporation] 
 :text "As an additional cost to make a successful run, the Runner must suffer :-1mu: until the end of the turn."
 :title "SSSLCo"
 :trash-cost 2
 :type :asset
 :uniqueness true}
