{:cost 0
 :deck-limit 3
 :faction :criminal
 :id "StackedResume"
 :influence-cost 1
 :side :runner
 :subtype [:job] 
 :text "Gain 1[credit] for each <strong>job</strong> card with different names in the heap."
 :title "Stacked Resume
 :type :event
 :uniqueness false}
