{:cost 3
 :deck-limit 3
 :faction :weyland-consortium
 :id "STOP"
 :influence-cost 3
 :side :corp
 :strength 0
 :subtype [:trap :prep] 
 :text "During runs on this server, you can rez this ice any time you could rez non-ice cards.\nThe subroutines on <strong>barrier</strong> ice protecting this server must be broken twice.\n[subroutine]Trash this ice."
 :title "S.T.O.P"
 :type :ice
 :uniqueness false}
