{:cost 1
 :deck-limit 3
 :faction :NBN
 :id "StreamingManager"
 :influence-cost 1
 :side :corp
 :subtype [:character :cast] 
 :text "Whenever a <strong>trace</strong> subroutine is broken, gain 1[credit]."
 :title "Streaming Manager
 :trash-cost 4
 :type :asset
 :uniqueness false}
