{:cost 1
 :deck-limit 3
 :faction :neutral-corp
 :id "StrengthInNumbers"
 :influence-cost 0
 :side :corp
 :subtype [:condition] 
 :text "Install Strength In Numbers on a piece of ice as a hosted condition counter with the text: “Host ice has +1 strength, +1 additional strength for each Strength In Numbers condition counter."
 :title "Strength In Numbers"
 :type :operation
 :uniqueness false}
