{:cost 0
 :deck-limit 3
 :faction :nbn
 :id "SubscriptionFee"
 :influence-cost 3
 :side :corp
 :subtype [:advertisement] 
 :text "As an additional cost to initiate a run, the Runner must pay 1[credit]."
 :title "Subscription Fee"
 :trash-cost 3
 :type :asset
 :uniqueness false}
