{:cost 0
 :deck-limit 3
 :faction :sunny
 :id "SubterfugeJournalist"
 :influence-cost 5
 :side :runner
 :subtype [:connection] 
 :text "The first time each turn you expose a card, the Corp must pay 1[credit]. Otherwise, you may pay 3[credit] to give the Corp 1 bad publicity."
 :title "Subterfuge Journalist
 :type :resource
 :uniqueness true}
