{:base-link 1
 :deck-limit 1
 :faction :sunny-lebeau
 :id "SunnyExecutivelyConnected"
 :influence-limit 25
 :minimum-deck-size 45
 :side :runner
 :subtype [:natural] 
 :text "[click]: Place 1 power counter on this identity and give the Corp 1 bad publicity. Use this ability only if you have 3[link] or more.\nYou have -3[link] for each power counter on this identity.\n"
 :title "Sunny Lebeau : Executively Connected"
 :type :identity
 :uniqueness false}
