{:base-link 1
 :deck-limit 1
 :faction :sunny
 :id "SunnyInvestigator"
 :influence-limit 25
 :minimum-deck-size 50
 :side :runner
 :subtype [:natural] 
 :text "If the Corp has 3 or more bad publicity, they play with the R&D faceup.\n"
 :title "Sunny Lebeau : Investigator"
 :type :identity
 :uniqueness false}
