{:cost 1
 :deck-limit 3
 :faction :haas-bioroid
 :id "SurgeonFee"
 :influence-cost 2
 :side :corp
 :subtype [:transaction] 
 :text "Gain 5[credit] for each brain damage the Runner has suffered and draw 1 card.\n"
 :title "Surgeon Fee"
 :type :operation
 :uniqueness false}
