{:cost 1
 :deck-limit 3
 :faction :anarch
 :id "SwanSong"
 :influence-cost 3
 :memory-cost 1
 :side :runner
 :strength 1
 :subtype [:icebreaker :ai] 
 :text "<strong>Suffer 1 brain damage</strong>: Break up to 2 ice subroutines.\n<strong>Suffer 1 brain damage</strong>: +3 strength."
 :title "Swan Song"
 :type :program
 :uniqueness false}
