{:cost 4
 :deck-limit 3
 :faction :NBN
 :id "TagOfWar"
 :influence-cost 3
 :side :corp
 :strength 4
 :subtype [:code-gate :optional] 
 :text "A maximum of 2 subroutines on this ice may be broken (or fired) during an encounter.\n[subroutine]If the Runner is not tagged, the Corp gains 2[credit].\n[subroutine]Give the runner 1 tag.\n[subroutine]If the Runner is not tagged, the Corp gains 2[credit]."
 :title "Tag-of-War"
 :type :ice
 :uniqueness false}
