{:cost 3
 :deck-limit 3
 :faction :NBN
 :id "Taipan"
 :influence-cost 2
 :side :corp
 :strength 5
 :subtype [:sentry :tracer] 
 :text "[subroutine]<strong>Trace<sup><strong>ˣ</strong></sup></strong> – If successful, end the run or give the Runner X tags.\nX is the number of pieces of rezzed ice."
 :title "Taipan"
 :type :ice
 :uniqueness false}
