{:cost 1
 :deck-limit 3
 :faction :neutral-corp
 :id "Takebacks"
 :influence-cost 0
 :side :corp 
 :text "Install only in the root of Archives.\nWhenever there's a successful run on this server you may add 1 card from Archives to HQ."
 :title "Takebacks"
 :trash-cost 4
 :type :upgrade
 :uniqueness true}
