{:cost 1
 :deck-limit 3
 :faction :anarch
 :id "TantrumChip"
 :influence-cost 2
 :side :runner
 :subtype [:chip] 
 :text "Gain 1[credit] the first time each turn a non-<strong>tracer</strong> subroutine fires."
 :title "Tant[R]um Chip
 :type :hardware
 :uniqueness false}
