{:base-link 0
 :deck-limit 1
 :faction :anarch
 :id "TaraAlegre"
 :influence-limit 15
 :minimum-deck-size 45
 :side :runner
 :subtype [:natural] 
 :text "The first time each turn a card is trashed from your grip, gain 1[credit] or draw 1 card."
 :title "Tara Alegre : Enraged and Engaged"
 :type :identity
 :uniqueness false}
