{:deck-limit 1
 :faction :jinteki
 :id "TenkaiDirective"
 :influence-limit 15
 :minimum-deck-size 45
 :side :corp
 :subtype [:division] 
 :text "Any card with the printed text “Limit 1 region per server“, instead says: “Limit 2, <i>different</i> regions per server“."
 :title "Tenkai Directive : Expand Your Horizon"
 :type :identity
 :uniqueness false}
