{:deck-limit 1
 :faction :weyland-consortium
 :id "TheAlliance"
 :influence-limit 15
 :minimum-deck-size 45
 :side :corp
 :subtype [:alliance] 
 :text "<strong>Alliance</strong> cards requires 3 fewer non-<strong>alliance</strong> cards of the indicated faction to cost 0 influence."
 :title "The Alliance : Friends With Benefits"
 :type :identity
 :uniqueness false}
