{:deck-limit 1
 :faction :jinteki
 :id "TheClinic"
 :influence-limit 17
 :minimum-deck-size 45
 :side :corp
 :subtype [:subsidiary] 
 :text "Ice with <strong>condition counters</strong> cannot be trashed and gains +1 strength, <strong>barrier</strong>, <strong>code gate</strong> and <strong>sentry</strong>."
 :title "The Clinic : What Ails You?"
 :type :identity
 :uniqueness false}
