{:advancement-requirement 4
 :agenda-points 2
 :deck-limit 3
 :faction :weyland-consortium
 :id "TheCostOfSuccess"
 :side :corp
 :subtype [:initiative]
 :text "[trash]: Place 2 advancement counters on an installed card."
 :title "The Cost of Success"
 :type :agenda
 :uniqueness false}
