{:deck-limit 1
 :faction :weyland-consortium
 :id "TheGrinder"
 :influence-limit 15
 :minimum-deck-size 45
 :side :corp
 :subtype [:corporation] 
 :text "Whenever you gain or lose any amount of bad publicity, do 1 meat damage."
 :title "The Grinder : From the Ground Up"
 :type :identity
 :uniqueness false}
