{:deck-limit 1
 :faction :weyland-consortium
 :id "TheOA"
 :influence-limit 15
 :minimum-deck-size 45
 :side :corp
 :subtype [:subsidiary] 
 :text "Bad publicity credits are instead considered [recurring-credit] credits that can be used during runs."
 :title "The O.A. : It Never Happened"
 :type :identity
 :uniqueness false}
