{:deck-limit 1
 :faction :nbn
 :id "ThetaLinkGlobal"
 :influence-limit 17
 :minimum-deck-size 45
 :side :corp
 :subtype [:division] 
 :text "Play with the top of R&D faceup.\nWhen a player's turn begins, gain 1[credit] or draw 1 card."
 :title "ThetaLink Global : No Secrets"
 :type :identity
 :uniqueness false}
