{:cost 1
 :deck-limit 3
 :faction :nbn
 :id "TheTree"
 :influence-cost 2
 :side :corp
 :strength 2
 :subtype [:sentry :prep] 
 :text "During runs on this server, you can rez this ice any time you could rez non-ice cards.\nAll <strong>tracer</strong> ice protecting this server has +1 strength and the base trace strength of each subroutine is increased by 1.\n[subroutine]All <strong>sentry</strong> ice has +2 strength for the remainder of this run."
 :title "The Tree"
 :type :ice
 :uniqueness false}
