{:cost 2
 :deck-limit 3
 :faction :NBN
 :id "ThinkTank"
 :influence-cost 2
 :side :corp
 :subtype [:transaction] 
 :text "Gain 1[credit] for each card in HQ."
 :title "Think Tank"
 :type :operation
 :uniqueness false}
