{:cost 3
 :deck-limit 3
 :faction :haas-bioroid
 :id "TimeSink"
 :influence-cost 3
 :side :corp
 :strength 5
 :subtype [:code-gate] 
 :text "<strong>Hosted power counter:</strong> The Runner loses [click][click]. Use this ability at the beginning of the Runner's turn, and only once per turn.\n<strong>Hosted power counter:</strong> Gain [click]. Use this ability when your turn begins, and only once per turn.\n[subroutine]Place 2 power counters on this ice."
 :title "Time Sink"
 :type :ice
 :uniqueness false}
