{:cost 4
 :deck-limit 3
 :faction :jinteki
 :id "TrashCompressor"
 :influence-cost 2
 :side :corp
 :strength 0
 :subtype [:barrier :ap] 
 :text "This ice can only be rezzed while protecting a remote server and has +1 strength for each facedown card in archives.\n[subroutine]Do 1 net damage.\n[subroutine]End the run."
 :title "Trash Compressor"
 :type :ice
 :uniqueness false}
