{:cost 0
 :deck-limit 3
 :faction :neutral-corp
 :id "Tripwires"
 :influence-cost 0
 :side :corp
 :subtype [:ambush] 
 :text "This upgrade can be advanced.\nIf this upgrade is accessed from R&D, the Runner must reveal it.\nWhen the Runner accesses this upgrade, all runs until the end of the Runner's turn are considered unsuccessful."
 :title "Tripwires"
 :trash-cost 5
 :type :upgrade
 :uniqueness false}
