{:cost 3
 :deck-limit 3
 :faction :nbn
 :id "Tunnel"
 :influence-cost 1
 :side :corp
 :strength 4
 :subtype [:sentry :tracer :onrez] 
 :text "When you rez Tunnel during a run, <strong>Trace<sup><strong>⁴</strong></sup></strong> – If successful, you may rez cards with a combined rez cost equal to or less than the strength of which your trace exceeded the Runners trace.\n[subroutine]The Corp gains 2[credit]\n[subroutine]The Runner can't play, or put into play any card for the remainder of this turn."
 :title "Tunnel"
 :type :ice
 :uniqueness false}
