{:cost 3
 :deck-limit 3
 :faction :apex
 :id "UnattendedInstallation"
 :influence-cost 2
 :side :runner
 :subtype [:virtual] 
 :text "[click]: Install the top card of the stack facedown.\n[click]: Install or trash the top card of the stack paying it's install cost."
 :title "Unattended Installation
 :type :resource
 :uniqueness false}
