{:cost 2
 :deck-limit 3
 :faction :sunny
 :id "UnnanouncedSecurityTest"
 :influence-cost 3
 :side :runner 
 :text "Play only if you made a successful run on HQ, R&D and Archives this turn.\nGive the Corp 1 bad publicity.  Remove Unnanounced Security Test from the game instead of trashing it."
 :title "Unannounced Security Test
 :type :event
 :uniqueness false}
