{:cost 3
 :deck-limit 3
 :faction :shaper
 :id "Urashima"
 :influence-cost 3
 :memory-cost 1
 :side :runner
 :strength 1
 :subtype [:icebreaker :killer] 
 :text "<strong>Lose 1[credit]</strong>: Break <strong>sentry</strong> subroutine.\n<strong>Lose [click]</strong>: +3 strength for the remainder of this run."
 :title "Urashima"
 :type :program
 :uniqueness false}
