{:cost 2
 :deck-limit 3
 :faction :haas-bioroid
 :id "ValhallaGrid"
 :influence-cost 2
 :side :corp
 :subtype [:region] 
 :text "Each [click] lost or spent during runs on this server gives the Corp an additional [click] to spend during their next turn."
 :title "Valhalla Grid"
 :trash-cost 3
 :type :upgrade
 :uniqueness false}
