{:cost 10
 :deck-limit 3
 :faction :haas-bioroid
 :id "Vici"
 :influence-cost 4
 :side :corp
 :strength 6
 :subtype [:sentry :ap :destroyer] 
 :text "Whenever a subroutine on this ice is broken, resolve the parenthesis.\n[subroutine] Do 1 brain damage. (If the Runner is at their maximum hand size, do 1 brain damage.)\n[subroutine] Trash 1 installed Runner card (If the Runner has 15[credit] or more, the Runner trashes an installed Runner card.)"
 :title "Vici"
 :type :ice
 :uniqueness true}
