{:cost 5
 :deck-limit 3
 :faction :haas-bioroid
 :id "Vidi"
 :influence-cost 3
 :side :corp
 :strength 6
 :subtype [:barrier] 
 :text "As an additional cost to break subroutines on this ice, the Runner must pay 3[credit] or use a <strong>fracter</strong>.\n[subroutine]End the run."
 :title "Vidi"
 :type :ice
 :uniqueness true}
