{:cost 4
 :deck-limit 3
 :faction :neutral-corp
 :id "vila"
 :influence-cost 0
 :side :corp
 :strength 3
 :subtype [:code-gate :mythic] 
 :text "Non-<strong>mythic</strong> ice protecting this server cannot be exposed or bypassed.\n[subroutine]The Runner loses 2[credit].\n[subroutine]Gain 2[credit].\nIf the Runner has 2 or more programs installed, this card gains:\n[subroutine]End the run."
 :title "Vila"
 :type :ice
 :uniqueness false}
