{:cost 4
 :deck-limit 3
 :faction :weyland-consortium
 :id "ViralGate"
 :influence-cost 2
 :side :corp
 :strength 2
 :subtype [:code-gate :antivirus] 
 :text "When the Runner encounters Viral Gate, you may move 1 virus counter from an installed card to Viral Gate.\nViral Gate has +1 strength for each virus counter on it.\n[subroutine] Place 1 virus counter on another card.\n[subroutine] End the run."
 :title "Viral Gate"
 :type :ice
 :uniqueness false}
