{:cost 3
 :deck-limit 3
 :faction :shaper
 :id "VirusBackupROM"
 :influence-cost 5
 :side :runner
 :subtype [:virus] 
 :text "[interrupt] Whenever virus counters would be purged, remove this hardware from the game and prevent that purge.\nLimit 1 per deck."
 :title "Virus Backup ROM
 :type :hardware
 :uniqueness true}
