{:cost 2
 :deck-limit 3
 :faction :neutral-corp
 :id "vodnik"
 :influence-cost 0
 :side :corp
 :strength 2
 :subtype [:barrier :mythic] 
 :text "Non-<strong>mythic</strong> ice protecting this remote cannot be derezzed by the Runner.\n[subroutine]End the run."
 :title "Vodník"
 :type :ice
 :uniqueness false}
