{:cost 1
 :deck-limit 3
 :faction :sunny-lebeau
 :id "VPNTunnel"
 :influence-cost 2
 :memory-cost 1
 :side :runner
 :subtype [:link :virtual] 
 :text "+2[link]"
 :title "VPN Tunnel
 :type :program
 :uniqueness false}
