{:cost 4
 :deck-limit 3
 :faction :criminal
 :id "VultureBin"
 :influence-cost 3
 :memory-cost 1
 :side :runner
 :strength 1
 :subtype [:icebreaker :killer] 
 :text "1[credit]: Break <strong>sentry</strong> subroutine.\nX is twice the number <strong>killers</strong> in the heap."
 :title "Vulture.bin"
 :type :program
 :uniqueness false}
