{:deck-limit 1
 :faction :jinteki
 :id "WanaInitiative"
 :influence-limit 15
 :minimum-deck-size 45
 :side :corp
 :subtype [:division] 
 :text "The first time each turn a <strong>trap</strong> or <strong>ambush</strong> card enters archives during a run, you may reveal it and shuffle it into R&D."
 :title "Wana Initiative : Always a Catch"
 :type :identity
 :uniqueness false}
