{:cost 0
 :deck-limit 3
 :faction :haas-bioroid
 :id "WatchControl"
 :influence-cost 1
 :side :corp
 :subtype [:onrez] 
 :text "Can only be rezzed during the Runner's action phase.\nWhen you rez this card, the Runner gains [click][click].\nThe Runner cannot spend [click] to break subroutines on <strong>bioroid</strong> ice."
 :title "Watch Control
 :trash-cost 5
 :type :asset
 :uniqueness false}
