{:cost 3
 :deck-limit 3
 :faction :neutral-corp
 :id "wetiko"
 :influence-cost 0
 :side :corp
 :strength 1
 :subtype [:mythic] 
 :text "Ice cannot have their subtypes changed by Runner cards.\n[subroutine]End the run unless the Runner pays 2[credit]."
 :title "Wetiko"
 :type :ice
 :uniqueness false}
