{:cost 2
 :deck-limit 3
 :faction :jinteki
 :id "Whetstone"
 :influence-cost 2
 :side :corp
 :strength 5
 :subtype [:code-gate] 
 :text "AP ice has +1 strength.\n[subroutine]AP ice has +1 strength until the end of the run.\n[subroutine]AP ice has +1 strength until the end of the run."
 :title "Whetstone"
 :type :ice
 :uniqueness false}
