{:cost 3
 :deck-limit 3
 :faction :NBN
 :id "Whitelist"
 :influence-cost 1
 :side :corp
 :strength 1
 :subtype [:barrier :tracer] 
 :text "This ice is always considered to be in the outermost position in addition to it's regular position.\n[subroutine]<strong>Trace<sup><strong>³</strong></sup></strong> – If successful, give the Runner 1 tag.\n[subroutine]End the run if the Runner is tagged.\n[subroutine]End the run if the Runner is tagged."
 :title "Whitelist"
 :type :ice
 :uniqueness false}
