{:cost 4
 :deck-limit 3
 :faction :weyland-consortium
 :id "Wiper"
 :influence-cost 2
 :side :corp
 :strength 3
 :subtype [:code-gate :illicit] 
 :text "When you rez this ice, take 1 bad publicity.\n[subroutine]Remove 1 bad publicity.\n[subroutine]Remove 1 bad publicity.\n[subroutine]You have an additional [click][click] to spend during your next turn."
 :title "Wiper"
 :type :ice
 :uniqueness false}
