{:cost 1
 :deck-limit 3
 :faction :neutral-corp
 :id "WorldwideGrant"
 :influence-cost 0
 :side :corp
 :subtype [:government] 
 :text "The cost to play operations and install ice is reduced by 1[credit]."
 :title "Worldwide Grant
 :trash-cost 4
 :type :asset
 :uniqueness false}
