{:cost 1
 :deck-limit 3
 :faction :shaper
 :id "Wrapper"
 :influence-cost 2
 :memory-cost 1
 :side :runner 
 :text ":1mu:\n+1[link]\n+1 maximum hand size."
 :title "Wrapper"
 :type :program
 :uniqueness false}
