{:cost 2
 :deck-limit 3
 :faction :NBN
 :id "XSS"
 :influence-cost 2
 :side :corp
 :strength 3
 :subtype [:code-gate :injector] 
 :text "When the Runner encounters this ice, they lose 1[credit] for each unused [mu] the Runner has.\nThis ice has +1 strength for each unused [mu] the Runner has.\n[subroutine]End the run if the Runner has any unused [mu]."
 :title "XSS"
 :type :ice
 :uniqueness false}
